@charset "utf-8";
.account-info{
	padding: 60px;
}
.gender-row{
	padding-top: 20px;
}
.gender-row .col-2{
	padding-top: 6px;
}
.gender-radio{
	background: white;
	color: #ced4da;
	border:#ced4da solid 1px;
    text-align: center;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}
.gender-radio:hover{
    color:#03A9F4;
    border:#03A9F4 solid 1px;
}
.gender-radio.active{
    background: #03A9F4;
    color:white;
}
#gender_female, #gender_male{
	cursor: pointer;
}
.account-detail{
	padding: 25px 0 10px;
	margin: 0;
	border-bottom: #e0e0e0 dashed 1px;
}
.account-detail .col-4, .account-detail .col-1, .account-detail .col-10{
	padding-top: 0.5rem;
}
.account-detail .col-7 .col-4{
	padding-top: 0;
}
#birth_day, #birth_month{
	height: 42px;
}
#reset_info, #update_info{
	margin-top: 50px;
}
#update_info{
	background: white;
}
#update_info:hover{
	background-color: #03A9F4 !important;
}
.account-box .form-control{
	padding: 0.8rem;
	border-radius: 2px;
	box-shadow:#f5f5f5 1px 2px 2px;
}
.account-box .account-detail .form-control{
	padding: 0.5rem 0.75rem;
}
.account-box .alert-danger{
	border-radius: 2px;
}
.save-cancel-btn{
	margin: 0;
}
#deleteAccount{
	background: white;
	margin:auto;
	color:#9E9E9E;
	transition:0.3s;
	cursor: pointer;
	text-decoration: none;
}
#deleteAccount i{
	margin-right: 20px;
	vertical-align: -5px;
}
#deleteAccount:hover{
	color:#F44336
}
#email_display{
	text-align: center;
	border: none;
	box-shadow: none;
}
.email-verified{
	color: #64DD17;
}
#editEmail, #toVerify{
	cursor: pointer;
	transition: 0.3s;
}
#editEmail:hover, #toVerify:hover{
	color: #03A9F4;
}
#delete_account:hover{
	background: #F44336;
}