.row {
    height: 100%;
}
.bp-container .col-10 .col-2.text-left{
    padding:10px 0  0;
    font-size: 1.2rem;
    font-weight: 500;
}
.bp-container .col-1{
    padding: 0;
}
.bp-container{
    position: relative;
}
.bp-unit{
    color:#757575;
    padding-top: 3px;
    font-size: 0.9rem;
}
#time{
    padding-left: 20px;
    font-size: 1.1rem;
    color: #616161;
}

#bp_indicator{
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    background: #64DD17;
}
.blood_pressure .card-body{
    border-bottom: #eeeeee 1px solid;
}
#bp_date{
    height: 50px;
    width: 100%;
    background: #eeeeee;
    padding: 10px 20px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: #eeeeee 1px solid

}
#bpEdit{
    opacity: 0;
    transition: 0.3s;
}
.col-1.bp-edit{
    padding-top: 20px;
    position: relative;
    left: -20px;
    transition: 0.3s;
    cursor: pointer;
}
.col-1.bp-edit i{
    padding: 5px;
    font-size: 1.8rem;
    color: #616161;
    transition: 0.3s
}
.bp-edit-btn:hover{
    color: #03A9F4 !important;
}
.bp-delete-btn:hover{
    color: #F44336 !important;
}
.bp-container .row .col-3 div{
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 15px;
}
.bp-container .row .col-3 h1{
    margin: 0;
}
.bp-container .row .col-3 small{
    color: #757575;
    font-size: 0.9rem;
}
#bpChart{
    padding: 0;
    margin: 30px 0;
}
.bp-card-header{
    text-align: left;
    background: #03A9F4;
}
.bp-main-title{
    font-size: 2.5rem;
    padding: 30px 120px;
    background: #EEEEEE;
}
#bp_control_view{
    width: 50%;
    margin-left: 0;
    cursor: pointer;
}
#bp_control_view .submit-btn{
    padding: 15px;
}
#float_add_bp{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: #F44336;
    box-shadow: 0 5px 25px #e0e0e0;
    position: absolute;
    right: 180px;
    bottom: 320px;
    cursor: pointer;
}
#float_add_bp i {
    color: white;
    font-size: 2rem;
    padding: 15px;
}
.submit-btn.active{
    background: white;
    color: #03A9F4;
}
#chart_control{
    font-size: 2rem;
    text-align: center;
    padding: 30px;
}
#chart_control i {
    font-size: 2rem;
    color: #9E9E9E;
    transition: 0.3s;
}
#chart_control i:hover{
    color: #424242;
}