@charset "utf-8";
html, body{
    background: #f0f0f0;
	height: 100%;
}
.jumbotron {
    background-color:transparent !important;
}
.content-wrapper{
    padding: 120px 60px 100px;
	max-width: 1000px;
    margin: auto;
	background: rgba(255,255,255,0.36);
	box-shadow:#e0e0e0 0 0 5px;
	min-height: 90vh;
}
.master-wrapper{
	min-height: 100%;
  	position: relative;
}
.nav-wrapper{
	background: white;
	box-shadow:#e0e0e0 0 3px 20px;
	font-size:15px;
	text-align: center;
	position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.navbar-toggler{
	position:absolute;
	top:15px;
	right:20px;
}
.nav-link.dropdown-toggle{
	width: auto;
}
.nav-link.active{
	border-bottom:#03A9F4 medium solid !important;
}
.navbar-brand {
	float:left;
}
.navbar{
    height:60px;
	max-width:1000px;
	margin:auto;
	padding: 0;
}
.navbar-light .nav-link{
	text-align: center;
	height: 60px;
    padding: 1.2rem 1.2rem 0 !important;
	color: black !important;
	border-bottom: medium solid white;
	transition: color 0.3s, border 0.2s, background 0.3s;
}
.navbar-light .nav-link:hover{
	color: #03A9F4!important;
	background: #f9f9f9;
	border-bottom:#03A9F4 medium solid;
}
#account_login{
	margin-left: 2rem;
}
.account-btn {
	font-size: 1rem;
	background: #03A9F4;
	border-radius: 3px;
	border: #03A9F4 solid 1px;
	transition: background 0.3s, color 0.3s;
	display: block;
	text-decoration: none;
	color: white !important;
	padding: 10px;
	width: 160px;
	margin-top: 0.45rem;
	box-shadow:#e0e0e0 3px 3px 10px;
}
.account-btn-half {
	font-size: 1rem;
	background: #03A9F4;
	border-radius: 3px;
	border: #03A9F4 solid 1px;
	transition: background 0.3s, color 0.3s;
	display: block;
	text-decoration: none;
	color: white !important;
	padding: 10px;
	width: 80px;
	margin-top: 0.45rem;
	box-shadow:#e0e0e0 3px 3px 10px;
}
.account-btn-half.left{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.account-btn-half.right{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.account-btn-row{
	margin-right: 0;
	margin-left: 0;
}
.account-btn:hover, .account-btn-half:hover{
	text-decoration: none;
	background: white;
	color: #03A9F4 !important;
	cursor: pointer;
}
.nav-item.dropdown{
	padding-left:2rem;
}
.dropdown-item{
	text-align: center;
	z-index: 9999;
}
.dropdown-menu{
	box-shadow:#e0e0e0 3px 3px 10px;
	z-index: 9999;
	margin-left: 2rem;
}
.footer {
	color: #e0e0e0;
	padding: 1rem;
	background-color: #222222;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%
}
.layout-wrapper{
	max-width: 1000px;
	margin:auto;
}
.alert-danger{
	background: #F44336;
	color: white;
	font-size: 16px;
	padding: 0.5rem 0.75rem !important;
}
.alert.alert-dismissable{
	text-align: center;
	position: fixed;
	top:60px;
	font-weight: 500;
	width: 100%;
	border-radius: 0;
	z-index: 1;
	box-shadow:#e0e0e0 0 3px 20px;
}
.alert.alert-success.alert-dismissable{
	background: #64DD17;
	color:white;
}
.alert.alert-danger.alert-dismissable{
	background: #F44336;
	color: white;
}
.alert.alert-primary.alert-dismissable{
	background: #03A9F4;
	color:white;
}