@charset "utf-8";
html, body{
    background: #f9f9f9;
	height: 100%;
}
.jumbotron {
    background-color:transparent !important;
	padding: 0 !important;
}
.content-wrapper{
    padding: 100px 0 100px;
	max-width: 1000px;
    margin: auto;
	min-height: 90vh;
}
.master-wrapper{
	min-height: 100%;
  	position: relative;
	transition: 0.3s;
}
.nav-wrapper{
	background: white;
	box-shadow:#e0e0e0 0 3px 20px;
	text-align: center;
	position: fixed;
    top: 0;
	left: 0;
    z-index: 1000;
    width: 100%;
}
.navbar-toggler{
	position:absolute;
	top:15px;
	right:20px;
}
.nav-link.dropdown-toggle{
	width: auto;
}
.nav-link.active{
	border-bottom:#03A9F4 medium solid !important;
}
.navbar-brand {
	width: 250px;
	height: 60px;
	position: fixed;
	top:0;
	left:0;
}
.navbar-brand img{
	vertical-align: -10px;
}
.navbar-brand i {
	font-size: 25px;
	padding-right: 20px;
	color: #9E9E9E;
}
.navbar{
    height:60px;
	transition: 0.3s;
	margin-left:250px;
	padding-left: 0;
}
.navbar-light .nav-link{
	text-align: center;
	height: 60px;
    padding: 1.2rem 1.2rem 0 !important;
	color: black !important;
	border-bottom: medium solid white;
	transition: color 0.3s, border 0.2s, background 0.3s;
}
.navbar-light .nav-link:hover{
	color: #03A9F4!important;
	background: #f9f9f9;
	border-bottom:#03A9F4 medium solid;
}
#account_login{
	margin-left: 2rem;
}
.account-btn {
	font-size: 1rem;
	background: #03A9F4;
	border-radius: 3px;
	border: #03A9F4 solid 1px;
	transition: background 0.3s, color 0.3s;
	display: block;
	text-decoration: none;
	color: white !important;
	padding: 10px;
	width: 160px;
	box-shadow:#e0e0e0 3px 3px 10px;
}
.account-btn-half {
	font-size: 1rem;
	background: #03A9F4;
	border-radius: 3px;
	border: #03A9F4 solid 1px;
	transition: background 0.3s, color 0.3s;
	display: block;
	text-decoration: none;
	color: white !important;
	padding: 10px;
	width: 80px;
	box-shadow:#e0e0e0 3px 3px 10px;
}
.account-btn-half.left{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.account-btn-half.right{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.account-btn-row{
	margin-right: 0;
	margin-left: 0;
}
.account-btn:hover, .account-btn-half:hover{
	text-decoration: none;
	background: white;
	color: #03A9F4 !important;
	cursor: pointer;
}
.dropdown-item{
	text-align: center;
	z-index: 9999;
}
.dropdown-menu{
	box-shadow:#e0e0e0 3px 3px 10px;
	z-index: 9999;
}
.footer {
	color: #424242;
	padding: 1rem;
	background: #f9f9f9;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%
}
.alert-danger{
	background: #F44336;
	color: white;
	font-size: 16px;
	padding: 0.5rem 0.75rem !important;
}
.alert.alert-dismissable{
	text-align: center;
	position: fixed;
	top:60px;
	font-weight: 500;
	width: 100%;
	border-radius: 0;
	z-index: 2;
	box-shadow:#e0e0e0 0 3px 20px;
}
.alert.alert-success.alert-dismissable{
	background: #64DD17;
	color:white;
}
.alert.alert-danger.alert-dismissable{
	background: #F44336;
	color: white;
}
.alert.alert-primary.alert-dismissable{
	background: #03A9F4;
	color:white;
}
#console{
	background: #222222;
	color:white;
}
#console div{
	max-width: 1000px;
	margin: auto;
}
#console pre{
	margin: 0;
}
#quickstart-account-details{
	color:white;
}
.toolbar{
	height: 100%;
	position: fixed;
	top: 60px;
	left: 0;
	overflow-x: hidden;
	transition: 0.3s;
	width: 0;
	background: #263238;
}
.toolbar ul {
	border-bottom: #9E9E9E solid 1px;
}
.toolbar div > a {
    padding: 1.2rem 0.8rem;
    text-decoration: none;
    color: #e0e0e0;
    display: block;
	transition: 0.3s;
}
.toolbar div > a i{
	font-size: 1.2rem;
	vertical-align: -0.25rem;
    margin: auto 2rem;
}
.toolbar div > a:hover {
    color: white;
	background: #37474F;
}
ul.sub-links {
	max-height: 0;
	overflow: hidden;
	list-style: none;
	color: #b3bcc5;
	font-weight: 100;
	line-height: 24px;
	margin: 0;
	transition: 0.3s;
	padding: 0 3.3rem;
}
ul.sub-links.selected {
	max-height: 200px;
	padding: 0 3.3rem 1.6rem;
}
.sub-links a {
	text-decoration: none;
	color: #b3bcc5;
	display: block;
	text-align: left;
	padding-top: 0.5rem;
	transition: 0.3s;
}
.sub-links a:hover{
	color: white;
}
#toggle{
	cursor:pointer;
}
