div {
  display: block;
}

section {
	display: block;
}

div.image-container {
	height: 350px;
	width: 100%;
}

div.image-container img {
	height: 330px;
	width: 95%;
}

div.record-wrapper {
	padding-top: 20px;
}

section#overview {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

section#activities {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

div#top {
	background-color: #1b9393;
	height: 50px;
	line-height: 50px;
}

div#top span {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
}

div#bottom {
	background-color: white;
}

div.overview span {
	font-size: 25px;
}

div.modal-body {
	padding-left: 0px;
	padding-right: 0px;
}

input#actname {
	margin-left: auto;
	margin-right: auto;
}