<div class="nav-wrapper">
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top scrolled">
        <!--<a class="navbar-brand" href="/timeline">NObesity</a>-->
        <div>
			<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="img/NObesity_SG_logo.jpg" alt="logo" id="logo"></a>
		</div>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)ps</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plans">Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/diet">Diet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quiz">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rewards">Reward</a>
                </li>
                <li class="nav-item sep">
                    <a class="nav-link">|</a>
                </li>
                <!-- {% if not session.logged_in %} -->
                <li class="nav-item dropdown account-btn">
                    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      UserName
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/accountinfo">Account</a>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            <!--
            {% else %}
            <li><a href="/login">Get Started</a></li>
            {% endif %} -->
              </ul>
        </div>
    </nav>
</div>
