<div id="toggle" onclick="controlsidenav()"><i class="material-icons">menu</i></div>
<a class="navbar-brand" href="/">
    <img src="../static/images/brand.png" width="150" height="50" class="mr-0" alt="">
</a>
<div class="nav-wrapper">
    <nav class="navbar navbar-expand navbar-light">
        {% set navigation_bar = [
            ('/', 'index', 'Home'),
            ('/weight', 'weight', 'Weight'),
            ('/diet', 'diet', 'Diet'),
            ('/record', 'activity', 'Activity'),
            ('/bloodPressure', 'bp', 'Blood Pressure'),
            ('/quiz', 'quiz', 'Quiz'),
            ('/rewards', 'reward', 'Reward'),
            ('/faq', 'faq', 'FAQ')
        ] -%}
        {% set active_page = active_page|default('index') -%}
        <ul id="navigation" class="navbar-nav mr-auto">
            {% if session.logged_in %}
                {% for href, id, caption in navigation_bar %}
                    <li class="nav-item">
                        <a href="{{ href|e }}" id="{{ id|e }}"
                            {% if id == active_page %} class = "nav-link active"
                            {% else %} class = "nav-link"
                            {% endif %}>
                            {{ caption|e }}</a>
                    </li>
                {% endfor %}
            {% else %}
               {% for href, id, caption in [('/', 'index', 'Home'), ('/faq', 'faq', 'FAQ')] %}
                    <li class="nav-item">
                        <a href="{{ href|e }}" id="{{ id|e }}"
                            {% if id == active_page %} class = "nav-link active"
                            {% else %} class = "nav-link"
                            {% endif %}>
                            {{ caption|e }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        {% if session.logged_in%}
            <div class ="navPhoto-wrapper">
                <div class="navPhoto" >
                    <a href="/account/info">
                        <img id="navPhoto" src="../static/images/default_photo.png">
                    </a>
                </div>
            </div>
            <div class="nav-item dropdown" id="account_login">
                <a class="dropdown-toggle account-btn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="nav_username">{{session['username']}}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/account/detail">Account</a>
                    <a class="dropdown-item" href="/logout" onClick="firebase.auth().signOut()">Log out</a>
                </div>
            </div>
        {% else %}
            <div id="account_login">
                <div class="row account-btn-row">
                    <div class="col-6 p-0">
                        <a href="/login" class="account-btn-half left">Log In</a>
                    </div>
                    <div class="col-6 p-0">
                        <a href="/signup" class="account-btn-half right">Sign Up</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </nav>
</div>
<nav class="sidenav-wrapper">
    <div id="sidenav" class="sidenav">
        <div style="border-top: #e0e0e0 solid 1px;">
            <a>
                <i class="material-icons">account_circle</i>Account
            </a>
        </div>
        <ul class="sub-links" id="account_nav">
            <li><a href="/account/security">Sign In & Security</a></li>
            <li><a href="/account/info">Personal Info</a></li>
            <li><a href="/account/detail">Health Detail</a></li>
            <li><a href="/profile">Health Profile</a></li>
        </ul>
        <div>
            <a>
                <i class="material-icons">accessibility</i>Track
            </a>
        </div>
        <ul class="sub-links" id="health_track_nav">
            <li><a href="/weight">Weight</a></li>
            <li><a href="/bloodPressure">Blood Pressure</a></li>
            <li><a href="/diet">Diet</a></li>
            <li><a href="/record">Activity</a></li>
        </ul>
        <div>
            <a>
                <i class="material-icons">help_outline</i>Quiz
            </a>
        </div>
        <ul class="sub-links" id="quiz_nav">
           <li><a href="/quiz">Take Quiz</a></li>
            <li><a href="/leaderboards">Leaderboards</a></li>
            <li><a href="/rewards">Rewards</a></li>
        </ul>
    </div>
    <script>
        function openTool() {
            document.getElementById("sidenav").style.width = "250px";
            $("#sidenav").addClass("expened");
            document.getElementsByClassName("master-wrapper")[0].style.marginLeft = "250px";
        }
        function closeTool() {
            document.getElementById("sidenav").style.width = "0";
            document.getElementsByClassName("master-wrapper")[0].style.marginLeft = "0";
            $("#sidenav").removeClass("expened");
        }
        function controlsidenav(){
            if ($("#sidenav").attr("class")=="sidenav"){
                openTool()
            } else{
                closeTool()
            }
        }
        $(function () {
            var links = $('.sidenav > div');
            links.on('click', function () {
                if ($(this).next().attr('class')=='sub-links selected'){
                    $(this).next().removeClass('selected');
                } else {
                    $(this).next().addClass('selected');
                }
            });
        });
        var username = '{{session['username']|safe}}';
        firebase.database().ref('/Users/' + username + '/photoURL').once('value').then(function (snapshot) {
            var photoURL = (snapshot.val());
            if (photoURL != null) {
                document.getElementById('navPhoto').src = photoURL
            }
        });
    </script>
</nav>
