{% extends 'layout.html' %}

{% block body %}
    {% if form.error %}
        <div class="alert alert-danger">
            <ul>
                 {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
            
            </ul>
        </div>
    {% endif %}
    {% from 'includes/_formhelper.html' import request%}
    <h1>Food Publication</h1>
   <form method="Post" action="">
       <div class = 'form-group'>
           <div class = 'form-row'>
               {{ render_field(form.food_name,class_='form-control') }}
           </div>
           <div class = 'form-row'>
               {{ render_field(form.food_type, class_='form-control')}}
           </div>
           <div class ='form-row'>
               {{ render_field(form.calories,class_='form-control')}}
           </div>
           <div class = 'form-row'>
               {{ render_field(form.fats,class_='form-control')}}
           </div>
           <div class='form-row'>
               {{ render_field(form.carbohydrates, class_='form-control')}}
           </div>
           <div class='form-row'>
               {{ render_field(form.proteins, class_='form-control') }}
           </div>
       </div>
   </form>
{% endblock %}
