{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <h3>Recommended Diet</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>What to Eat</th>
                <th>1st Day</th>
                <th>2nd Day</th>
                <th>3rd Day</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Breadfast</td>
                <td><a href ="/bread" target="_blank"><img src="images/The-Truth-About-Bread.jpg" width = "200px" height="200px"></a></td>
                <td><a href="/porridge" target="_blank"><img src="images/iStock_000023337267_Medium-min.jpg" width = "200px" height="200px"></a></td>
                <td><a href="/oats" target="_blank"><img src="images/1436731675OAT.jpg" width = "200px" height="200px"></a></td>
            </tr>
            <tr>
                <td>Lunch</td>
                <td><a href ="/salad" target="_blank"><img src="images/asian-style-chopped-salad-83466-1.jpeg" width = "200px" height="200px"></a></td>
                <td><a href ="/juices" target="_blank"><img src="images/Fruit%20Juice.jpg" width = "200px" height="200px"></a></td>
                <td><a href ="/kway_teow_soup" target="_blank"><img src="images/ban-mian-weekender.jpg" width = "200px" height="200px"></a></td>
            </tr>
            <tr>
                <td>Diner</td>
                <td><a href ="/fishsoup" target="_blank"><img src="images/FishSoup.jpg" width = "200px" height="200px"></a></td>
                <td><a href ="/herbalsoup" target="_blank"><img src="images/HerbalSoup.jpg" width = "200px" height="200px"></a></td>
                <td><a href ="/seafoodsoup" target="_blank"><img src="images/SeafoodSoup.jpg" width = "200px" height="200px"></a></td>
            </tr>
        </table>
    </div>
{% endblock %}