{% extends 'layout.html' %}
{% block body %}

<div>
    <div class="jumbotron text-center">
        <div id="track_and_record">
            <div class="top-container"></div>
            <div class="calendar-container"></div>
            <div class="form-group text-center">
                <button class="btn btn-primary btn-lg" id="activityButton" data-toggle="modal" data-target="#myModal">Add activity</button>
                <button class="btn btn-primary btn-lg" id="weightButton" data-toggle="modal" data-target="#myModal">Log your weight</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}