{% extends 'layout.html' %}
{% block body %}
<form class="mx-auto account_info">
  <div class="form-group form-row">
      <span>Hello, </span><span id="first_name">Jiyao</span> <span id="last_name">Han</span>
  </div>
  <div class="form-group group-row">
  	<div class="row gender-row">
        <label for="gender" class="col-2">Gender</label>
        <div class="col-10" data-toggle="buttons">
		  <label class="col-5 btn btn-primary gender-radio disable">
			Male
		  </label>
		  <label class="col-5 btn btn-primary gender-radio-female disable">
          	Female
		  </label>
      </div>
  	</div>
  </div>
  <div class="form-group">
    <label for="birth">Birth date</label>
    <input type="date" class="form-control" id="birth">
  </div>
  <div class="form-group form-row">
    <div class="col-md-6">
    <label for="weight">Weight</label>
    <input type="text" class="form-control" id="weight" placeholder="Weight">
    </div>
      <div class="col-md-6">
    <label for="height">Height</label>
    <input type="text" class="form-control" id="height" placeholder="Height">
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col-md-4">
      <label for="inputCity">Systol</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="diastol">Diastol</label>
      <input  id="diastol" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="pluse">Pulse</label>
      <input type="text" class="form-control" id="pluse">
    </div>
  </div>
  <button class="btn btn-primary form-control" id="update_info">Update</button>
</form>
{% endblock %}