{% extends 'layout.html' %}
{% block body %}
    {% macro render_field(field) %}
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
            <small class="alert alert-danger col-12 m-auto">
                {{ error }}
            </small>
        {% endfor %}
      {% endif %}
    {% endmacro %}
<script>
    $(document).ready(function () {
        var male = $("#gender-0");
        var female = $("#gender-1");
        var select_male = $("#gender_male");
        var select_female = $("#gender_female");
        select_male.click(function(){
            male.prop("checked","True");
            female.removeProp("checked","True");
            select_male.attr("class","form-control gender-radio active");
            select_female.attr("class","form-control gender-radio");
        });
        select_female.click(function(){
            female.prop("checked","True");
            male.removeProp("checked","True");
            select_female.attr("class","form-control gender-radio ml-auto active");
            select_male.attr("class","form-control gender-radio");
        });
    });
</script>
<form method="post" class="mx-auto account_info">
  <div class="form-group form-row">
    <div class="col-md-6">
      <label for="firstName">First Name</label>
      {{ render_field(setup_form.first_name, class_="form-control", placeholder="First Name") }}
    </div>
    <div class="col-md-6">
      <label for="lastName">Last Name</label>
      {{ render_field(setup_form.last_name, class_="form-control", placeholder="Last Name") }}
    </div>
  </div>
  <div class="form-group">
    <label for="display_name">Display Name</label>
    {{ render_field(setup_form.display_name, class_="form-control", placeholder="Last Name") }}
  </div>
  <div class="form-group group-row">
    <label for="gender">Gender</label>
  	<div class="form-row">
        <div class="col-md-6">
		  <div class="form-control gender-radio" id="gender_male">
			Male
		  </div>
        </div>
        <div class="col-md-6">
		  <div class="form-control gender-radio ml-auto" id="gender_female">
			Female
		  </div>
        </div>
  	</div>
  </div>
  <div class="form-group sr-only">
    {{ render_field(setup_form.gender, class_="radio-inline") }}
  </div>
  <div class="form-group">
    <label for="birth">Birth date</label>
    {{ render_field(setup_form.birthday, class_="form-control", placeholder="YYYY-MM-DD") }}
  </div>
  <div class="form-group form-row">
    <div class="col-md-6">
    <label for="weight">Weight (kg)</label>
    {{ render_field(setup_form.current_weight, class_="form-control", placeholder="Enter Current Weight") }}
    </div>
      <div class="col-md-6">
    <label for="height">Height (m)</label>
    {{ render_field(setup_form.height, class_="form-control", placeholder="Enter Height") }}
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col-md-4">
      <label for="inputCity">Systol</label>
      {{ render_field(setup_form.systol, class_="form-control", placeholder="Enter Systolic Pressure") }}
    </div>
    <div class="col-md-4">
      <label for="inputState">Diastol</label>
      {{ render_field(setup_form.diastol, class_="form-control", placeholder="Enter Diastalic Pressure") }}
    </div>
    <div class="col-md-4">
      <label for="inputZip">Pulse</label>
      {{ render_field(setup_form.pulse, class_="form-control", placeholder="Enter Pulse Rate") }}
    </div>
  </div>
  <button class="btn btn-primary form-control" id="update_info">Confirm Update</button>
</form>
{% endblock %}