{% extends 'layout.html' %}
{% block body %}
    {% macro render_field(field) %}
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger col-12 mt-3">
                {{ error }}
            </div>
        {% endfor %}
      {% endif %}
    {% endmacro %}
    <script>
        $(document).ready(function () {
            var male = $("#gender-0");
            var female = $("#gender-1");
            var select_male = $("#gender_male");
            var select_female = $("#gender_female");
            select_male.click(function(){
                male.prop("checked","True");
                female.removeProp("checked","True");
                select_male.attr("class","form-control gender-radio active");
                select_female.attr("class","form-control gender-radio");
            });
            select_female.click(function(){
                female.prop("checked","True");
                male.removeProp("checked","True");
                select_female.attr("class","form-control gender-radio ml-auto active");
                select_male.attr("class","form-control gender-radio");
            });
        });
    </script>
    <form class="mx-auto account_info">
      <div class="form-group form-row account-detail" id="user_name">
        <div class="col-1"><i class="material-icons">person</i></div>
        <div class="col-4"> Name :</div>
        <div class="col-6 sr-only" id="first_name">Jiyao Han</div>
          <div ></div>
          {{ render_field(setup_form.first_name, class_="form-control col-6", placeholder="First Name") }}
        <div class="col-1"><i class="material-icons">keyboard_arrow_right</i></div>
      </div>
      <div class="form-group form-row account-detail">
        <div class="col-1"><i class="material-icons">share</i></div>
        <div class="col-4"> Display Name :</div>
        <div class="col-6  sr-only" id="display_name">MrHan</div>
          {{ render_field(setup_form.display_name, class_="form-control col-6", placeholder="Last Name") }}
        <div class="col-1"><i class="material-icons">keyboard_arrow_right</i></div>
      </div>
      <div class="form-group form-row account-detail">
        <div class="col-1"><i class="material-icons">wc</i></div>
        <div class="col-4"> Gender :</div>
        <div class="col-6  sr-only">Male</div>
          <div class="col-6">
            <div class="form-row">
                <div class="col-6">
                  <div class="form-control gender-radio active" id="gender_male">
                    Male
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-control gender-radio ml-auto" id="gender_female">
                    Female
                  </div>
                </div>
            </div>
          </div>
        <div class="col-1"><i class="material-icons">keyboard_arrow_right</i></div>
          <div class="form-group sr-only">
            {{ render_field(setup_form.gender, class_="radio-inline") }}
          </div>
      </div>
      <div class="form-group form-row account-detail">
        <div class="col-1"><i class="material-icons">cake</i></div>
        <div class="col-4"> Birth Date :</div>
        <div class="col-6 sr-only">1996-01-01</div>
          {{ render_field(setup_form.birthday, class_="form-control col-6", placeholder="YYYY-MM-DD") }}
        <div class="col-1"><i class="material-icons">keyboard_arrow_right</i></div>
      </div>
      <div class="form-group form-row account-detail">
        <div class="col-1"><i class="material-icons">accessibility</i></div>
        <div class="col-4"> Initial Weight :</div>
        <div class="col-6 sr-only"> 70 kg </div>
          {{ render_field(setup_form.current_weight, class_="form-control col-6", placeholder="Enter Current Weight") }}
        <div class="col-1"><i class="material-icons">keyboard_arrow_right</i></div>
      </div>
      <div class="form-group form-row account-detail">
        <div class="col-1"><i class="material-icons">straighten</i></div>
        <div class="col-4"> Height :</div>
        <div class="col-6 sr-only"> 1.75 m </div>
          {{ render_field(setup_form.height, class_="form-control col-6", placeholder="Enter Height") }}
        <div class="col-1"><i class="material-icons">keyboard_arrow_right</i></div>
      </div>
      <div class="form-group form-row account-detail">
        <div class="col-1"><i class="material-icons">local_hospital</i></div>
        <div class="col-4"> Initial BP : </div>
        <div class="col-4 sr-only"> 130/80 mmHg</div>
        <div class="col-2 sr-only"> 70 bpm</div>
        <div class="col-2">
          {{ render_field(setup_form.systol, class_="form-control", placeholder="Systolic") }}
        </div>
        <div class="col-2">
          {{ render_field(setup_form.diastol, class_="form-control", placeholder="Diastalic") }}
        </div>
        <div class="col-2">
          {{ render_field(setup_form.pulse, class_="form-control", placeholder="Pulse") }}
        </div>
        <div class="col-1"><i class="material-icons">keyboard_arrow_right</i></div>
      </div>
      <div class="form-group form-row">
        <a href="/account" class="col-5 btn btn-outline-secondary" id="reset_info">Cancel</a>
        <button type="submit" class="col-5 ml-auto btn btn-outline-secondary" id="save_info" disabled value="Login">Save</button>
      </div>
    </form>
{% endblock %}