{% extends 'layout.html' %}
{% block body %}
<form class="mx-auto account_info">
  <div class="form-group form-row account-detail">
      <div class="col-2"><i class="material-icons">person</i></div>
    <div class="col-4"> Name :</div>
    <div class="col-6 text-right" id="first_name">Jiyao Han</div>
  </div>
  <div class="form-group form-row account-detail">
      <div class="col-2"><i class="material-icons">share</i></div>
    <div class="col-4"> Display Name :</div>
    <div class="col-6 text-right" id="display_name">MrHan</div>
  </div>
  <div class="form-group form-row account-detail">
      <div class="col-2"><i class="material-icons">wc</i></div>
  	<div class="col-4"> Gender :</div>
    <div class="col-6 text-right">Male</div>
  </div>
  <div class="form-group form-row account-detail">
      <div class="col-2"><i class="material-icons">cake</i></div>
    <div class="col-4"> Birth Date :</div>
    <div class="col-6 text-right">1996-01-01</div>
  </div>
  <div class="form-group form-row account-detail">
      <div class="col-2"><i class="material-icons">accessibility</i></div>
    <div class="col-4"> Current Weight :</div>
    <div class="col-6 text-right"> 70 kg </div>
  </div>
  <div class="form-group form-row account-detail">
      <div class="col-2"><i class="material-icons">straighten</i></div>
    <div class="col-4"> Height :</div>
    <div class="col-6 text-right"> 1.75 m </div>
  </div>
  <div class="form-group account-detail">
      <div class="form-row">
          <div class="col-2"><i class="material-icons">local_hospital</i></div>
          <div class="col-2">BP: </div>
          <div class="col-3"> Systol 130</div>
          <div class="col-3"> Diastol 80</div>
          <div class="col-2"> Pulse 70</div>
      </div>
  </div>
  <a href="/setup" class=" form-control btn btn-primary" id="update_info">Update Account Details</a>
</form>
{% endblock %}