{% extends 'layout.html' %}
{% block body %}
<form class="mx-auto account_info">
  <div class="form-group form-row">
    <div class="col-md-6">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="col-md-6">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group group-row">
  	<div class="row gender-row">
        <label for="gender" class="col-2">Gender</label>
        <div class="col-10" data-toggle="buttons">
		  <label class="col-5 btn btn-primary gender-radio">
			<input class="form-check-input" type="radio" name="gender" id="gender_male" value="male" autocomplete="off">
			Male
		  </label>
		  <label class="col-5 btn btn-primary gender-radio-female">
			<input class="form-check-input" type="radio" name="gender" id="gender_female" value="female">
			Female
		  </label>
      </div>
  	</div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Birth date</label>
    <input type="date" class="form-control" id="birth">
  </div>
  <div class="form-group form-row">
    <div class="col-md-6">
    <label for="inputAddress2">Weight</label>
    <input type="text" class="form-control" id="weight" placeholder="Weight">
    </div>
      <div class="col-md-6">
    <label for="inputAddress2">Height</label>
    <input type="text" class="form-control" id="height" placeholder="Height">
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col-md-4">
      <label for="inputCity">Systol</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState">Diastol</label>
      <input  id="inputState" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="inputZip">Pulse</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <button class="btn btn-primary form-control" id="update_info">Update</button>
</form>
{% endblock %}