{% extends 'layout.html' %}
{% block body %}
    <div class="modal fade" id="bpModal" tabindex="-1" role="dialog" aria-labelledby="EditBPModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="EditBPModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary submit-btn">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-modal-sm" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm ">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-danger">Confirm</button>
              </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="bp-card-header">
            <div class="bp-main-title">Blood Pressure Graph</div>
            <div class="row" id="bp_control_view">
                <div class="col-3 submit-btn">All</div>
                <div class="col-3 submit-btn">Month</div>
                <div class="col-3 submit-btn">Week</div>
                <div class="col-3 submit-btn active">Daily</div>
            </div>
        </div>
        <canvas id="bpChart" width="900" height="400"></canvas>
        <script>
            new Chart(document.getElementById("bpChart"),
                {"type":"line",
                    "data":{"labels":
                        [{% for i in bp_datetime_list %}
                            moment('{{ i }}',"YYYY-MM-DD HH:mm"),
                        {% endfor %}],
                    "datasets":
                        [{"label":"Systolic Pressure",
                        "data":{{ bp_sys_list|safe }},
                        "fill":false,
                        "borderColor": "#F44336",
                        "lineTension":0
                        }, {"label":"Diastolic Pressure",
                        "data":{{ bp_dias_list|safe }},
                        "fill":false,
                        "borderColor": "#EF5350",
                        "lineTension":0
                        }, {"label":"Pulse Rate",
                        "data":{{ bp_pulse_list|safe }},
                        "fill":false,
                        "borderColor": "#673AB7",
                        "lineTension":0
                        }]
                    },
                    "options":{
                        scales: {
                            xAxes: [{
                                type: 'time',
                                distribution: 'linear',
                                time: {
                                    unit: 'hour',
                                    displayFormats: {
                                        hour: 'MMM D'+ ' h:mm a'
                                    },
                                     min: moment().hour(-24)
                                }
                            }]
                        }
                    }
                });
        </script>
        <div id="float_add_bp"></div>
        <div class="bp-chart-wrapper"></div>
            <div class="current-bp"><div id="bp_day">
                <div class="card-body" id="bp_container">
                    <div class="bp-container">
                        <div class="row">
                            <div class="col-3">
                                <div>Max SYS</div>
                            </div>
                            <div class="col-3">
                                <div>Max DIA</div>
                            </div>
                            <div class="col-3">
                                <div>Average BP</div>
                            </div>
                            <div class="col-3">
                                <div>Avg Pulse Pressure</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <h1 id="systole">85</h1>
                            </div>
                            <div class="col-3">
                                <h1 id="systole">85</h1>
                            </div>
                            <div class="col-3">
                                <h1 id="systole">85</h1>
                            </div>
                            <div class="col-3">
                                <h1 id="systole">85</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <small>mmHg</small>
                            </div>
                            <div class="col-3">
                                <small>mmHg</small>
                            </div>
                            <div class="col-3">
                                <small>mmHg</small>
                            </div>
                            <div class="col-3">
                                <small>mmHg</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blood_pressure card">
        <div class="card-header  text-center">
            <div class="card-header-text">Blood Pressure Data</div>
        </div>
        <div class="bp-wrapper">
            <div id="bp_date">Thurs, 2 Feb</div>
            <div id="bp_day">
                <div class="card-body" id="bp_container" onmouseover="showBpEdit(this)" onmouseleave="hideBpEdit(this)">
                    <div class="bp-container">
                        <div class="row">
                            <div id="bp_indicator"></div>
                            <div class="col-1">
                                <p id="time">07:00</p>
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-2 text-right">
                                        <h1 id="systole">85</h1>
                                    </div>
                                    <div class="col-2 text-left">
                                        <div>SIS</div>
                                        <div class="bp-unit">mmHg</div>
                                    </div>
                                    <div class="col-2 text-right">
                                        <h1 id="diastole">90</h1>
                                    </div>
                                    <div class="col-2 text-left">
                                        <div>DIA</div>
                                        <div class="bp-unit">mmHg</div>
                                    </div>
                                    <div class="col-2 text-right">
                                        <h1 id="pulse">90</h1>
                                    </div>
                                    <div class="col-2 text-left">
                                        <div>Pulse</div>
                                        <div class="bp-unit">Bpm</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1  bp-edit" id="bpEdit">
                                <a data-toggle="modal" data-target="#bpModal">
                                    <i class="material-icons bp-edit-btn">mode_edit</i>
                                </a>
                                <a  data-toggle="modal" data-target=".bd-modal-sm">
                                    <i class="material-icons bp-delete-btn">delete</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script>
        function showBpEdit(e) {
            e.childNodes[1].childNodes[1].childNodes[7].style.opacity="100"
        }
        function hideBpEdit(e) {
            e.childNodes[1].childNodes[1].childNodes[7].style.opacity="0"
        }
	</script>
{% endblock %}
