{% extends 'layout.html' %}
{% set active_page = "bp" %}
{% block body %}
    <script>
        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'fas fa-clock',
                date: 'fas fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'fas fa-calendar-check-o',
                clear: 'fas fa-trash',
                close: 'fas fa-times'
            } });
    </script>
    <div class="modal fade" id="bpModal" tabindex="-1" role="dialog" aria-labelledby="EditBPModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content account-box">
          <div class="modal-header">
            <h5 class="modal-title" id="EditBPModalLabel">Track Blood Pressure</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="container">
                    <div class="row">
                        <div class="col-5 pt-2 text-right" >
                            Date Time
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    <input id="bp_datetime" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" onblur="checkDatetime(this)"/>
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">date_range</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            try{
                                $(function () {
                                    $('#datetimepicker1').datetimepicker({
                                        format: 'YYYY-MM-DD h:mm A',
                                        maxDate:moment()
                                    });
                                });
                            } catch (error){}
                            function checkDatetime(e) {
                                if (e.value == ''){
                                    e.value=moment().format('YYYY-MM-DD h:mm A')
                                }
                            }
                        </script>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 pt-2 text-right">
                            Systolic
                        </div>
                        <div class="col-4">
                            <input type="number" id="input_sys" class="form-control" placeholder="Systole">
                        </div>
                        <div class="col-3 pt-2">
                            mmHg
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 pt-2 text-right">
                            Diastolic
                        </div>
                        <div class="col-4">
                            <input type="number" id="input_dias" class="form-control" placeholder="Diastole">
                        </div>
                        <div class="col-3 pt-2">
                            mmHg
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 pt-2 text-right">
                            Pulse Rate
                        </div>
                        <div class="col-4">
                            <input type="number" id="input_pulse" class="form-control" placeholder="Pulse">
                        </div>
                        <div class="col-3 pt-2">
                            Bpm
                        </div>
                    </div>
                    <div class="alert alert-danger mt-2 mb-2 col-12" id="bpError" hidden></div>
                </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light btn-lg" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary submit-btn btn-lg" onclick="validateBp(this)">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-modal-sm" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm ">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  Are you sure you want to permanently delete this record ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light btn-lg" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-danger btn-lg" onclick="delete_bp()">Confirm</button>
              </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="bp-card-header">
            <div class="row" id="bp_control_view">
                <div class="col-1 submit-btn active" id="bp_all" onclick="bp_all()">All</div>
                <div class="col-1 submit-btn" id="bp_day" onclick="bp_day()">Daily</div>
                <div class="col-1 submit-btn" id="bp_week" onclick="bp_week()">Week</div>
                <div class="col-1 submit-btn" id="bp_month" onclick="bp_month()">Month</div>
                <div class="col-6"></div>
                <div class="col-2 submit-btn" onClick="printDiv()"><i class="material-icons">print</i>Print Data</div>
            </div>
        </div>
        <div id="chart_control">
            <div class="row">
                <a class="col-3" id="control_left" style="opacity: 0" onclick=""><i class="material-icons">keyboard_arrow_left</i></a>
                <div class="col-6 pt-2"><span id="chart_time">Blood Pressure Record</span></div>
                <a class="col-3" id="control_right" style="opacity: 0" onclick=""><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
        </div>
        <div id="bp_chart">
            <canvas id="bpChart"></canvas>
            <script>
                var year = moment().year();
                var month = moment().month();
                var date = moment().date();
                var week = moment().week();
                    var bpChart = new Chart(document.getElementById("bpChart"), {
                        "type": "line",
                            "data": {
                                "labels":
                                    [{% for i in bp_datetime_list %}
                                        moment('{{ i }}', "YYYY-MM-DD HH:mm"),
                                    {% endfor %}],
                                "datasets":
                                    [{
                                        "label": "Systolic Pressure",
                                        "data":{{ bp_sys_list|safe }},
                                        "fill": false,
                                        "borderColor": "#F44336",
                                        "lineTension": 0
                                    }, {
                                        "label": "Diastolic Pressure",
                                        "data":{{ bp_dias_list|safe }},
                                        "fill": false,
                                        "borderColor": "#FF9800",
                                        "lineTension": 0
                                    }, {
                                        "label": "Pulse Rate",
                                        "data":{{ bp_pulse_list|safe }},
                                        "fill": false,
                                        "borderColor": "#673AB7",
                                        "lineTension": 0
                                    }]
                            },
                            "options": {
                                scales: {
                                    xAxes: [{
                                        type: 'time',
                                        distribution: 'linear',
                                        time: {
                                            unit: 'day',
                                            displayFormats: {
                                                day: 'MMM DD'
                                            },
                                            min: '',
                                            max: ''
                                        }
                                    }]
                                },
                                annotation: {
                                    annotations: [{
                                        type: 'line',
                                        mode: 'horizontal',
                                        scaleID: 'y-axis-0',
                                        value: 60,
                                        borderColor: '#8BC34A',
                                        borderWidth: 1,
                                        borderDash: [10,10],
                                        label: {
                                            enabled: false,
                                            content: 'Min Diastole'
                                        }
                                    },{
                                        type: 'line',
                                        mode: 'horizontal',
                                        scaleID: 'y-axis-0',
                                        value: 80,
                                        borderColor: '#8BC34A',
                                        borderWidth: 1,
                                        borderDash: [10,10],
                                        label: {
                                            enabled: false,
                                            content: 'Normal Diastole'
                                        }
                                    },{
                                        type: 'line',
                                        mode: 'horizontal',
                                        scaleID: 'y-axis-0',
                                        value: 120,
                                        borderColor: '#8BC34A',
                                        borderWidth: 1,
                                        borderDash: [10,10],
                                        label: {
                                            enabled: false,
                                            content: 'Normal Systole'
                                        }
                                    }]
                                }
                            }
                        });
                var dayCount = 1;
                var monthCount = 1;
                function bp_day(){
                    dayCount = 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('day');
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('day');
                    bpChart.options.scales.xAxes[0].time.unit='hour';
                    bpChart.options.scales.xAxes[0].time.displayFormats={hour: 'h mm A'};
                    bpChart.update();
                    document.getElementById('chart_time').innerText = moment().format('MMM DD');
                    document.getElementById('control_left').style.opacity = '100';
                    document.getElementById('control_right').style.opacity = '100';
                    document.getElementById('control_left').setAttribute('onclick','dayMinus()');
                    document.getElementById('control_right').setAttribute('onclick','dayPlus()');
                    document.getElementById('bp_day').className='col-1 submit-btn active';
                    document.getElementById('bp_week').className='col-1 submit-btn';
                    document.getElementById('bp_month').className='col-1 submit-btn';
                    document.getElementById('bp_all').className='col-1 submit-btn';
                }
                function bp_week(){
                    dayCount = 0;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('week');
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('week');
                    bpChart.options.scales.xAxes[0].time.unit='day';
                    bpChart.options.scales.xAxes[0].time.displayFormats={day: 'MMM DD'};
                    bpChart.update();
                    document.getElementById('chart_time').innerText = moment().startOf('week').day(dayCount).format('MMM DD')+' - '+moment().endOf('week').day(dayCount).day(6).format('MMM DD');
                    document.getElementById('control_left').style.opacity = '100';
                    document.getElementById('control_right').style.opacity = '100';
                    document.getElementById('control_left').setAttribute('onclick','weekMinus()');
                    document.getElementById('control_right').setAttribute('onclick','weekPlus()');
                    document.getElementById('bp_day').className='col-1 submit-btn';
                    document.getElementById('bp_week').className='col-1 submit-btn active';
                    document.getElementById('bp_month').className='col-1 submit-btn';
                    document.getElementById('bp_all').className='col-1 submit-btn';
                }
                function bp_month(){
                    monthCount = 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('month');
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('month');
                    bpChart.options.scales.xAxes[0].time.unit='day';
                    bpChart.options.scales.xAxes[0].time.displayFormats={day: 'MMM DD'};
                    bpChart.update();
                    document.getElementById('chart_time').innerText = moment().format('MMMM');
                    document.getElementById('control_left').style.opacity = '100';
                    document.getElementById('control_right').style.opacity = '100';
                    document.getElementById('control_left').setAttribute('onclick','monthMinus()');
                    document.getElementById('control_right').setAttribute('onclick','monthPlus()');
                    document.getElementById('bp_day').className='col-1 submit-btn';
                    document.getElementById('bp_week').className='col-1 submit-btn';
                    document.getElementById('bp_month').className='col-1 submit-btn active';
                    document.getElementById('bp_all').className='col-1 submit-btn';
                }
                function bp_all(){
                    bpChart.options.scales.xAxes[0].time.min = '';
                    bpChart.options.scales.xAxes[0].time.max = '';
                    bpChart.options.scales.xAxes[0].time.unit='day';
                    bpChart.options.scales.xAxes[0].time.displayFormats={day: 'MMM DD'};
                    bpChart.update();
                    document.getElementById('chart_time').innerText = 'Blood Pressure Record';
                    document.getElementById('control_left').style.opacity = '0';
                    document.getElementById('control_right').style.opacity = '0';
                    document.getElementById('control_left').setAttribute('onclick','');
                    document.getElementById('control_right').setAttribute('onclick','');
                    document.getElementById('bp_day').className='col-1 submit-btn';
                    document.getElementById('bp_week').className='col-1 submit-btn';
                    document.getElementById('bp_month').className='col-1 submit-btn';
                    document.getElementById('bp_all').className='col-1 submit-btn active';
                }
                function dayMinus() {
                    dayCount -= 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('day').day(dayCount);
                    document.getElementById('chart_time').innerText = moment().startOf('day').day(dayCount).format('MMM DD');
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('day').day(dayCount);
                    bpChart.update();
                }
                function dayPlus() {
                    dayCount += 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('day').day(dayCount);
                    document.getElementById('chart_time').innerText = moment().startOf('day').day(dayCount).format('MMM DD');
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('day').day(dayCount);
                    bpChart.update();
                }
                function weekMinus() {
                    dayCount -= 7;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('week').day(dayCount);
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('week').day(dayCount).day(6);
                    document.getElementById('chart_time').innerText = moment().startOf('week').day(dayCount).format('MMM DD')+' - '+moment().endOf('week').day(dayCount).day(6).format('MMM DD');
                    bpChart.update();
                }
                function weekPlus() {
                    dayCount += 7;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('week').day(dayCount);
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('week').day(dayCount).day(6);
                    document.getElementById('chart_time').innerText = moment().startOf('week').day(dayCount).format('MMM DD')+' - '+moment().endOf('week').day(dayCount).day(6).format('MMM DD');
                    bpChart.update();
                }
                function monthMinus() {
                    monthCount -= 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('month').month(monthCount);
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('month').month(monthCount);
                    document.getElementById('chart_time').innerText = moment().startOf('month').month(monthCount).format('MMMM');
                    bpChart.update();
                }
                function monthPlus() {
                    monthCount += 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('month').month(monthCount);
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('month').month(monthCount);
                    document.getElementById('chart_time').innerText = moment().startOf('month').month(monthCount).format('MMMM');
                    bpChart.update();
                }
            </script>
        </div>
        <div class="bp-status">
            <a id="float_add_bp" data-toggle="modal" data-target="#bpModal"><i class="material-icons" onclick="resetBp()">add</i></a>
            <div class = 'bp-main-title'>Blood Pressure Status</div>
            <div class="card-body p-4" id="bp_container">
                <div class="bp-container">
                    <div class="row">
                        <div class="col-3">
                            <div>Max SYS</div>
                        </div>
                        <div class="col-3">
                            <div>Max DIA</div>
                        </div>
                        <div class="col-3">
                            <div>Average BP</div>
                        </div>
                        <div class="col-3">
                            <div>Avg Pulse Pressure</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h1 id="systole">{{ max_sys }}</h1>
                        </div>
                        <div class="col-3">
                            <h1 id="systole">{{ max_dias }}</h1>
                        </div>
                        <div class="col-3">
                            <h1 id="systole">{{ avg_bp }}</h1>
                        </div>
                        <div class="col-3">
                            <h1 id="systole">{{ avg_pp }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <small>mmHg</small>
                        </div>
                        <div class="col-3">
                            <small>mmHg</small>
                        </div>
                        <div class="col-3">
                            <small>mmHg</small>
                        </div>
                        <div class="col-3">
                            <small>mmHg</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blood_pressure card" id="bp_data">
        <div class="card-header  text-center">
            <div class="card-header-text">Blood Pressure Data</div>
        </div>
        {% for i in bp_date_list %}
        <div class="bp-wrapper">
            <div id="bp_date">{{ bp_dict[i][0].display_bp_date() }}</div>
            {% for j in bp_dict[i] %}
            <div id="bp_oneDay">
                <div class="card-body" id="bp_container" onmouseover="showBpEdit(this)" onmouseleave="hideBpEdit(this)">
                    <div class="bp-container">
                        <div class="row">
                            <div id="bp_indicator" style="background:{{ j.get_bp_indicator() }}"></div>
                            <div class="col-1">
                                <p id="time">{{ j.display_bp_time() }}</p>
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-2 text-right">
                                        <h1 id="systole">{{ j.get_sys() }}</h1>
                                    </div>
                                    <div class="col-2 text-left">
                                        <div>SIS</div>
                                        <div class="bp-unit">mmHg</div>
                                    </div>
                                    <div class="col-2 text-right">
                                        <h1 id="diastole">{{ j.get_dias() }}</h1>
                                    </div>
                                    <div class="col-2 text-left">
                                        <div>DIA</div>
                                        <div class="bp-unit">mmHg</div>
                                    </div>
                                    <div class="col-2 text-right">
                                        <h1 id="pulse">{{ j.get_pulse() }}</h1>
                                    </div>
                                    <div class="col-2 text-left">
                                        <div>Pulse</div>
                                        <div class="bp-unit">Bpm</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1  bp-edit" id="bpEdit">
                                <div class="row">
                                    <button class="col-6 p-0" data-toggle="modal" data-target="#bpModal" value="{{j.get_bp_datetime()}}">
                                        <i class="material-icons bp-edit-btn" onclick="getBpValue(this)">mode_edit</i>
                                    </button>
                                    <button class="col-6 p-0"  data-toggle="modal" data-target=".bd-modal-sm" value="{{j.get_bp_datetime()}}">
                                        <i class="material-icons bp-delete-btn" onclick="assign_delete(this)">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
	<script>
        function showBpEdit(e) {
            e.childNodes[1].childNodes[1].childNodes[7].style.opacity="100"
        }
        function hideBpEdit(e) {
            e.childNodes[1].childNodes[1].childNodes[7].style.opacity="0"
        }
        document.getElementById('bp_datetime').value = moment().format('YYYY-MM-DD h:mm A');
        function getBpValue(i) {
            document.getElementById('bpError').innerText = '';
            var input_ref = i.parentNode.value;
            var bp_datetime = input_ref.slice(0,8)+'T'+input_ref.slice(8,12);
            document.getElementById('bp_datetime').value = moment(bp_datetime).format('YYYY-MM-DD h:mm A');
            var bpRef = firebase.database().ref('BloodPressure/'+'{{session['username']}}'+'/'+input_ref);
            bpRef.once('value', function (snapshot) {
                var sys = parseInt(snapshot.child('systolic').val());
                var dias = parseInt(snapshot.child('diastolic').val());
                var pulse = parseInt(snapshot.child('pulse').val());
                document.getElementById('input_sys').value=sys;
                document.getElementById('input_dias').value=dias;
                document.getElementById('input_pulse').value=pulse;
                document.getElementById('bp_ref').innerText = bp_datetime
            })
        }
        function handleUpdate(i) {
                document.getElementById('bpError').innerText = '';
                var bp_ref = document.getElementById('bp_ref').innerText;
                bp_ref = bp_ref.slice(0,8)+bp_ref.slice(9,13);
                var bp_sys = document.getElementById('input_sys').value;
                var bp_dias = document.getElementById('input_dias').value;
                var bp_pulse = document.getElementById('input_pulse').value;
                var input_bp_datetime = moment(String(document.getElementById('bp_datetime').value), "YYYY-MM-DD h:mm A").format('YYYYMMDDHHmm');
                input_bp_datetime = input_bp_datetime.slice(0,8)+input_bp_datetime.slice(8,12);
                var bp_db_ref = firebase.database().ref().child('BloodPressure/'+'{{session['username']}}'+'/'+bp_ref);
                if (input_bp_datetime != bp_ref && bp_ref!='') {
                    bp_db_ref.remove();
                    document.getElementById('bp_ref').innerText = input_bp_datetime
                }
                firebase.database().ref().child('BloodPressure/'+'{{session['username']}}'+'/'+input_bp_datetime).update({
                    'systolic':bp_sys,
                    'diastolic':bp_dias,
                    'pulse':bp_pulse
                });
            window.location.href='/bloodPressure'
        }
        function validateBp(e) {
            var error = [];
            var errorMsg = '';
            var input_bp_datetime = moment(String(document.getElementById('bp_datetime').value), 'YYYY-MM-DD h:mm A').format('YYYYMMDDHHmm');
            document.getElementById('bpError').hidden = true;
            document.getElementById('bpError').innerText = errorMsg;
            var bp_value = [document.getElementById('input_sys'),document.getElementById('input_dias'),document.getElementById('input_pulse')];
            for (i=0;i<3;i++){
                if (bp_value[i].value == ""){
                    document.getElementById('bpError').hidden = false;
                    error.push('Please type in '+bp_value[i].placeholder);
                    errorMsg = error.join('\n');
                    document.getElementById('bpError').innerText = errorMsg;
                } else if (parseInt(bp_value[i].value)<0 || parseInt(bp_value[i].value)>300) {
                    document.getElementById('bpError').hidden = false;
                    error.push('Please Enter a Number in '+bp_value[i].placeholder+' (between 0 and 300)');
                    errorMsg = error.join('\n');
                    document.getElementById('bpError').innerText = errorMsg;
                }
            }
            if (document.getElementById('bp_datetime').value == ""){
                document.getElementById('bpError').hidden = false;
                error.push('Please Enter a Date Time for your record ');
                errorMsg = error.join('\n');
                document.getElementById('bpError').innerText = errorMsg;
            } else if (input_bp_datetime == 'invalid date'){
                document.getElementById('bpError').hidden = false;
                error.push('Please Enter a Correct Date');
                errorMsg = error.join('\n');
                document.getElementById('bpError').innerText = errorMsg;
            }
            if (document.getElementById('bpError').innerText == ''){
                handleUpdate(e)
            }
        }
        function resetBp() {
            document.getElementById('bp_ref').innerText = '';
            document.getElementById('input_sys').value = '';
            document.getElementById('input_dias').value = '';
            document.getElementById('input_pulse').value = '';
        }
        function assign_delete(e) {
             document.getElementById('bp_ref').innerText = e.parentNode.value;
        }
        function delete_bp() {
            var delete_bp_datetime = document.getElementById('bp_ref').innerText;
            firebase.database().ref().child('BloodPressure/'+'{{session['username']}}'+'/'+delete_bp_datetime).remove();
            window.location.href='/bloodPressure'
        }
        function printDiv() {
            document.body.innerHTML = document.getElementById('bp_data').innerHTML;
            window.print();
            window.location.href = '/bloodPressure'
        }
    </script>
{% endblock %}
