{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">

<h3>Recommended Diet</h3>

  <table class="table table-hover">
  <thead>
    <tr>
		<th>What to Eat</th>
		<th>1st Day</th>
		<th>2nd Day</th>
		<th>3rd Day</th>
		<th>4th Day</th>
        <th>5th Day</th>
		<th>6th Day</th>
		<th>7th Day</th>
	</tr>
  </thead>
  <tbody>
	<tr>
		<td>Breadfast</td>
		<td><img src="https://www.t-nation.com/system/publishing/articles/10004144/original/The-Truth-About-Bread.jpg?1480721681"></td>
		<td></td>
		<td></td>
		<td></td>
        <td></td>
        <td></td>
        <td></td>
	</tr>
	<tr>
		<td>Lunch</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
        <td></td>
        <td></td>
        <td></td>
	</tr>
    <td>Diner</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
        <td></td>
        <td></td>
        <td></td>

</table>
    </div>
{% endblock %}