{% extends 'layout.html' %}
{% block body %}
    <div class = 'view_diet'>
    <h1>View Diet</h1>
    <br/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Calories</th>
            <th>Fats(%)</th>
            <th>Carbohydrates(%)</th>
            <th>Protein(%)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Bread</th>
            <td>Food</td>
            <td>265</td>
            <td>4</td>
            <td>16</td>
            <td>18</td>
        </tr>
        <tr>
            <th scope="row">Oats</th>
            <td>Food</td>
            <td>68</td>
            <td>2</td>
            <td>6</td>
            <td>4</td>
        </tr>
        <tr>
            <td><a href="/new_diet">Create New Diet</a></td>
            <td><a href ="/update_diet">Update Diet</a></td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}