{% extends 'layout.html' %}
{% block body %}
    <div class = 'view_diet'>
    <h1>View Diet</h1>
    <br/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Calories</th>
            <th>Fats(%)</th>
            <th>Carbohydrates(%)</th>
            <th>Protein(%)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for eachdiet in diet %}
        <tr>
            <td>{{eachdiet.get_name()}}</td>
            <td>{{eachdiet.get_type()}}</td>
            <td>{{eachdiet.get_calories()}}</td>
            <td>{{eachdiet.get_fats()}}</td>
            <td>{{eachdiet.get_carbohydrates()}}</td>
            <td>{{eachdiet.get_protein()}}</td>
            <td><a href ="/update_diet/{{eachdiet.get_dietID()}}" class="btn btn-warning btn-lg">Update</a></td>
            <td>
                <form action="{{ url_for("delete_diet", id=eachdiet.get_dietID())}}" method="POST">
                <input type ="submit" value="delete" class ="btn btn-danger btn-lg"
                       onclick= "return confirm('Are you sure you want to delete as data would not be able to recover')">
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td> <a href="/new_diet"><input type="submit" value="New Diet" class="btn btn-new btn-lg"/></a></td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}