{% extends 'layout.html' %}
{% set active_page = "diet" %}
{% block body %}
    <div class = 'view_diet'>
    <h1 id="diet_title">View Diet</h1>
        <div class ="newdiet">
            <a href="/new_diet"  class="btn btn-primary btn-sm"><i class="material-icons">add_circle</i>
                <span>New Diet</span>
            </a>
        </div>
        <p id="calories_details"> Total Calories: {{ total_calories }}</p>
        <canvas id = "doughnut-chart"></canvas>
         <script>
            var ctx = document.getElementById("doughnut-chart")
            var myData = {
                datasets: [{
                    data: [{{ total_fats }}, {{ total_carbohydrates }}, {{ total_protein}}],
                    backgroundColor: ["#72B9FF", "#BFDFFF", "#99B2CC"],
                }],
                    labels:['Fats : {{ fat_percentage }}%','Carbohydrates : {{ carbohydrate_percentage }}%',
                        'Protein: {{ protein_percentage }}%'],
            };

            var options  = {
                title:{
                    display: true,
                    text:'Diet Details'
                }
            }
         var diet_Chart = new Chart(ctx,{type: 'doughnut', data: myData, options: options});
         </script>
    {% for eachdiet in diet %}
        <div class="card">
            <div class="card-header">
                {% if eachdiet.get_type()=="Fruits"%}
                    <img src="../static/images/Fruit_Icon.jpg" width="50" height="50">
                {% elif eachdiet.get_type()=="Foods"%}
                    <img src="../static/images/Meal_icon.png" width="50" height="50">
                {% elif eachdiet.get_type()=="Drinks"%}
                    <img src="../static/images/Drink_icon.png" width="50" height="50">
                {% endif %}
                {{ eachdiet.get_type()}}
                <span class="ml-5">Diet taken on: {{eachdiet.get_dietDate()}}</span>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{eachdiet.get_name()}}</h5>
                <div class="card-text">
                <div class ='row'>
                    <div class ='col-3'>
                        <span id =diet_details>{{ eachdiet.get_calories() }}</span>
                    </div>
                    <div class='col-3'>
                        <span id =diet_details>{{ eachdiet.get_fats() }}</span>
                    </div>
                    <div class='col-3'>
                        <span id = diet_details>{{ eachdiet.get_carbohydrates() }}</span>
                    </div>
                    <div class='col-3'>
                        <span id ='diet_details'>{{ eachdiet.get_protein() }}</span>
                    </div>
                </div>
                <div class ='row'>
                    <div class ='col-3'>
                        <span id =diet_content>Calories</span>
                    </div>
                    <div class='col-3'>
                        <span id =diet_content>Fats</span>
                    </div>
                    <div class='col-3'>
                        <span id = diet_content>Carbohydrates</span>
                    </div>
                    <div class='col-3'>
                        <span id ='diet_content'>Protein</span>
                    </div>
                </div>
            </div>
            <div class ='row'>
                <div class='col-1'>
                    <div class="updatediet"><a href ="/update_diet/{{eachdiet.get_dietID()}}" class="btn btn-warning btn-sm"
                                               id="update_button">
                        <i class="material-icons">mode_edit</i></a></div>
                </div>
                <div class='col-1'>
                   <div class="deletediet">
                    <form action="{{ url_for("delete_diet", id=eachdiet.get_dietID())}}" method="POST">
                    <input type ="submit" value= 'X' class ="btn btn-danger btn-sm" id = "delete_button"
                       onclick= "return confirm('Are you sure you want to delete? Data would not be recovered.')">
                    </form>
                   </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}