{% extends 'layout.html' %}
{% set active_page = "faq" %}
{% block body %}

<div class="jumbotron text-center">
    <div id="faq">
        <div class="faq-container">
            <div class="section-wrapper">
                <div class="section-animate" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <h1>NObesity SG</h1>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="section-animate" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <h4>Frequently Asked Questions</h4>
                    <br>
                    <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a question" align="left">
                    <div class="faqs">
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>What is NObesity all about?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    NObesity's mission is to encourage Singaporeans who are
leading a sedentary lifestyle to get active and eat a
balanced diet. Obesity rates in Singapore have been rising
over the past few years and we hope that this trend will
reverse in the near future. Join us and say "NO" to obesity!
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>What are Healthpoints?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    Healthpoints are virtual currency that you earn when
using NObesity. These Healthpoints can only be used
within the NObesity web app and cannot be withdrawn
as cash or any other legal tender currency.
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>How can I earn Healthpoints?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    Healthpoints can be earned through regularly using
our NObesity web app. The more often you use
NObesity, the more Healthpoints you will get!
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>How do I get started on NObesity?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    To get started with us on NObesity, simply click the
"Sign Up" button at the top right of the page and
follow the subsequent instructions. You will be prompted
to enter your personal health details such as your current
weight, height and blood pressure.
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>What can I use my Healthpoints for?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    The Healthpoints you earn through using the
NObesity web app can be used to redeem exclusive
rewards only given to NObesity members. Please go
to the "Rewards" page after you log in to see the list
of available rewards you are eligible for.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
          document.getElementById("toggle").hidden=false
      } else {
          document.getElementById("toggle").hidden=true
      }
  });
function myFunction() {
  // Declare variables
  var input, filter, div, p, i, j;
  filter = document.getElementById("myInput").value.toUpperCase();
  div = document.getElementsByClassName("faq");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < 5; i++) {
      p = div[i].getElementsByTagName("p")[0];
      console.log(p.innerText.toUpperCase());
      console.log(p.innerText.toUpperCase().indexOf(filter) );
      for (j = 0; j < div.length; j++) {
        if (p.innerHTML.toUpperCase().indexOf(filter) > -1) {
          div[i].style.display = "block";
        } else {
          div[i].style.display = "none";
      }
    }
  }

}
</script>

{% endblock %}
