{% extends 'layout.html' %}
{% block body %}

<div class="jumbotron text-center">
    <div id="faq">
        <div class="faq-container">
            <div class="section-wrapper">
                <div class="section-animate" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <h3>NObesity SG</h3>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="section-animate" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <h4>Frequently Asked Questions</h4>
                    <div class="faqs">
                        <div class="faq">
                            <div class="faq-question">
                                <p>What is NObesity all about?</p>
                                <div class="faq-icon"></div>
                            </div>
                            <div class="faq-answer" style="display: none;"></div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p>What are Healthpoints?</p>
                                <div class="faq-icon"></div>
                            </div>
                            <div class="faq-answer" style="display: none;"></div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p>How can I earn Healthpoints?</p>
                                <div class="faq-icon"></div>
                            </div>
                            <div class="faq-answer" style="display: none;"></div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p>What is the maximum number of Healthpoints that I can earn?</p>
                                <div class="faq-icon"></div>
                            </div>
                            <div class="faq-answer" style="display: none;"></div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p>What can I use my Healthpoints for?</p>
                                <div class="faq-icon"></div>
                            </div>
                            <div class="faq-answer" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}