{% extends 'layout.html' %}
{% set active_page = "faq" %}
{% block body %}

<div class="jumbotron text-center">
    <div id="faq">
        <div class="faq-container">
            <div class="section-wrapper">
                <div class="section-animate" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <h1>NObesity SG</h1>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="section-animate" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <h4>Frequently Asked Questions</h4>
                    <br>
                    <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a question" align="left">
                    <div class="faqs">
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>What is NObesity all about?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    Aenean lorem tortor, suscipit vel arcu quis, fringilla tristique ante. Suspendisse sodales a libero ac posuere. Mauris lacus tortor, porttitor id placerat et, volutpat in nibh. Integer sed fermentum libero. Donec lacinia neque consectetur arcu varius, quis interdum risus commodo. Ut quis consectetur risus. Phasellus enim ex, finibus a sapien at, vulputate auctor mi. Integer non justo auctor, sagittis massa tincidunt, convallis justo. Nulla tempus, ex a ultrices aliquam, quam risus tincidunt magna, vitae porta orci elit vel elit. Quisque pulvinar viverra rhoncus. Nam suscipit diam purus, id finibus mi pulvinar eget.
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>What are Healthpoints?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    Aenean lorem tortor, suscipit vel arcu quis, fringilla tristique ante. Suspendisse sodales a libero ac posuere. Mauris lacus tortor, porttitor id placerat et, volutpat in nibh. Integer sed fermentum libero. Donec lacinia neque consectetur arcu varius, quis interdum risus commodo. Ut quis consectetur risus. Phasellus enim ex, finibus a sapien at, vulputate auctor mi. Integer non justo auctor, sagittis massa tincidunt, convallis justo. Nulla tempus, ex a ultrices aliquam, quam risus tincidunt magna, vitae porta orci elit vel elit. Quisque pulvinar viverra rhoncus. Nam suscipit diam purus, id finibus mi pulvinar eget.
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>How can I earn Healthpoints?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    Aenean lorem tortor, suscipit vel arcu quis, fringilla tristique ante. Suspendisse sodales a libero ac posuere. Mauris lacus tortor, porttitor id placerat et, volutpat in nibh. Integer sed fermentum libero. Donec lacinia neque consectetur arcu varius, quis interdum risus commodo. Ut quis consectetur risus. Phasellus enim ex, finibus a sapien at, vulputate auctor mi. Integer non justo auctor, sagittis massa tincidunt, convallis justo. Nulla tempus, ex a ultrices aliquam, quam risus tincidunt magna, vitae porta orci elit vel elit. Quisque pulvinar viverra rhoncus. Nam suscipit diam purus, id finibus mi pulvinar eget.
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>What is the maximum number of Healthpoints that I can earn?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    Aenean lorem tortor, suscipit vel arcu quis, fringilla tristique ante. Suspendisse sodales a libero ac posuere. Mauris lacus tortor, porttitor id placerat et, volutpat in nibh. Integer sed fermentum libero. Donec lacinia neque consectetur arcu varius, quis interdum risus commodo. Ut quis consectetur risus. Phasellus enim ex, finibus a sapien at, vulputate auctor mi. Integer non justo auctor, sagittis massa tincidunt, convallis justo. Nulla tempus, ex a ultrices aliquam, quam risus tincidunt magna, vitae porta orci elit vel elit. Quisque pulvinar viverra rhoncus. Nam suscipit diam purus, id finibus mi pulvinar eget.
                                </p>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-question">
                                <p style="font-size: 30px;"><strong>What can I use my Healthpoints for?</strong></p>
                                <div class="faq-icon">
                                    <div class="faq-minus"></div>
                                    <div class="faq-plus"></div>
                                </div>
                            </div>
                            <div class="faq-answer" style="">
                                <p>
                                    Aenean lorem tortor, suscipit vel arcu quis, fringilla tristique ante. Suspendisse sodales a libero ac posuere. Mauris lacus tortor, porttitor id placerat et, volutpat in nibh. Integer sed fermentum libero. Donec lacinia neque consectetur arcu varius, quis interdum risus commodo. Ut quis consectetur risus. Phasellus enim ex, finibus a sapien at, vulputate auctor mi. Integer non justo auctor, sagittis massa tincidunt, convallis justo. Nulla tempus, ex a ultrices aliquam, quam risus tincidunt magna, vitae porta orci elit vel elit. Quisque pulvinar viverra rhoncus. Nam suscipit diam purus, id finibus mi pulvinar eget.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
          document.getElementById("toggle").hidden=false
      } else {
          document.getElementById("toggle").hidden=true
      }
  });
function myFunction() {
  // Declare variables
  var input, filter, div, p, i, j;
  filter = document.getElementById("myInput").value.toUpperCase();
  div = document.getElementsByClassName("faq");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < 5; i++) {
      p = div[i].getElementsByTagName("p")[0];
      console.log(p.innerText.toUpperCase());
      console.log(p.innerText.toUpperCase().indexOf(filter) );
      for (j = 0; j < div.length; j++) {
        if (p.innerHTML.toUpperCase().indexOf(filter) > -1) {
          div[i].style.display = "block";
        } else {
          div[i].style.display = "none";
      }
    }
  }

}
</script>

{% endblock %}
