{% extends 'layout.html' %}
{% block body %}
	<div class="account-box">
        <form action="" class="main-form" >
            <div class="box-header">Let's Get Started</div>
            <div class="box-text">This will help us tailor your health journey</div>
            <div class="form-group account-content">
            <div class="gender-select">
				<div class="row">
					<div class="col-5 gender-img card">
						<img class="card-img-top">
						<div class="card-body">
							<p class="card-text">Male</p>
						</div>
					</div>
					<div class="col-5 gender-img card ml-auto">
						<img class="card-img-top">
						<div class="card-body">
							<p class="card-text">Female</p>
						</div>
					</div>
				</div>	
           </div><button type="submit" class="form-control submit-btn" style="margin-top: 50px;     margin-bottom: 0;">Next</button>
           </div>
        </form>
    </div>
{% endblock %}