{% extends 'layout.html' %}
{% block body %}
    {% macro render_field(field) %}
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger col-12 m-auto">
                {{ error }}
            </div>
        {% endfor %}
      {% endif %}
    {% endmacro %}
    <div class="account-box">
        <form method="post" action="" class="main-form" >
            <div class="box-header">Start Account Setup</div>
            <div class="box-text">How Should We Call You?</div>
            <div class="form-group account-content">
                <div id="uploader"></div>
                <button id="fileButton"></button>
                <div class="overly"></div>
                <div class="form-group">
                    {{ render_field(name_form.display_name, class_="form-control mt-3 mb-3 ml-auto", placeholder="Display Name") }}
                    <small class="form-control-description text-muted">This is how your name will appear to others. </small>
                </div>
			<button type="submit" class="form-control submit-btn" style="margin-top: 30px;margin-bottom: 0;" onclick="updateProfile()">Next</button>
			</div>
		</form>
    </div>
    <script>
    function updateProfile() {
        var displayName = document.getElementById('display_name').value;
        user.updateProfile({
            displayName: displayName
        })
    }
    // File or Blob named mountains.jpg
    var file =

    // Create the file metadata
    var metadata = {
      contentType: 'image/jpeg'
    };

    // Upload file and metadata to the object 'images/mountains.jpg'
    var uploadTask = storageRef.child('images/' + file.name).put(file, metadata);

    // Listen for state changes, errors, and completion of the upload.
    uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
      function(snapshot) {
        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        console.log('Upload is ' + progress + '% done');
        switch (snapshot.state) {
          case firebase.storage.TaskState.PAUSED: // or 'paused'
            console.log('Upload is paused');
            break;
          case firebase.storage.TaskState.RUNNING: // or 'running'
            console.log('Upload is running');
            break;
        }
      }, function(error) {

      // A full list of error codes is available at
      // https://firebase.google.com/docs/storage/web/handle-errors
      switch (error.code) {
        case 'storage/unauthorized':
          // User doesn't have permission to access the object
          break;

        case 'storage/canceled':
          // User canceled the upload
          break;

        case 'storage/unknown':
          // Unknown error occurred, inspect error.serverResponse
          break;
      }
    }, function() {
      // Upload completed successfully, now we can get the download URL
      var downloadURL = uploadTask.snapshot.downloadURL;
    });
    </script>
{% endblock %}