{% extends 'layout.html' %}
{% block body %}
    <div class="account-box">
        <form method="post" action="" class="main-form" >
            <div class="box-header">Hello UserName</div>
            <div class="box-text">How should we call you?</div>
            <div class="form-group account-content">
            <div class="form-coltrol row m-auto">
            <div class="form-group col-6">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
		  	</div>
		  	<div class="form-group col-6">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
		  	</div>
		  	</div>
		  	<div class="form-group m-3">
				<label for="userName">Display Name</label>
				<input type="text" class="form-control" id="userName" placeholder="Enter Display Name">
				<small class="form-control-description text-muted">This is how your name will appear to others. If you want them to search for you, they'll need to know this</small>
		  	</div>
			<button type="submit" class="form-control submit-btn" style="margin-top: 30px;margin-bottom: 0;">Next</button>
			</div>
		</form>
    </div>
{% endblock %}