{% extends 'layout.html' %}
{% block body %}
</div>
<div class="h1">NObesity Community Forums</div>
<div id="content">
  <div class="h4">Topic: Tips on eating clean</div>
  <div class="reply">
    <a href="" class="btn-forum">Leave a Reply</a>
  </div>
  <div class="forum_border_around" id="forumMsg1">
    <div colspan="2" class="forum_category">
      <h4 name="" id="title">Avoid junk food!!!</h4>
      <div style="margin: 5px 0px;">
        <div style="float: right; padding-right: 3px; color: #ffffff;">
        </div>
        <div style="padding-left: 3px;" class="date">Nov 03, 10.30 AM</div>
      </div>
    </div>
    <div class="forum-topic-message-wrapper">
      <table class="forum_topic_message" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td width="135" class="forum_row2" style="border-width: 0px 0px 1px 1px;" valign="top">
              <div class>
                <div id="messageuser1" style="padding-bottom: 2px;">
                  <a href="/profile/user1" class="forum-icon">
                    <img src="http://www.freeiconspng.com/uploads/profile-icon-9.png" vspace="2" border="0">
                  </a>
                  <br>Offline
                  <br>Joined: Oct 2017
                  <br>Posts: 3
                </div>
              </div>
            </td>
            <td class="forum_row1" style="border-width: 0px 1px 1px 1px;" valign="top">
              <div class="clearfix word-break">
                <div id="message1" class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="forum_border_around" id="forumMsg1">
    <div colspan="2" class="forum_category">
      <h4 name="" id="title">Eat more fruits and veggies!</h4>
      <div style="margin: 5px 0px;">
        <div style="float: right; padding-right: 3px; color: #ffffff;">
        </div>
        <div style="padding-left: 3px;" class="date">Nov 01, 07.30 PM</div>
      </div>
    </div>
    <div class="forum-topic-message-wrapper">
      <table class="forum_topic_message" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td width="135" class="forum_row2" style="border-width: 0px 0px 1px 1px;" valign="top">
              <div class>
                <div id="messageuser1" style="padding-bottom: 2px;">
                  <a href="/profile/user1" class="forum-icon">
                    <img src="http://www.freeiconspng.com/uploads/profile-icon-9.png" vspace="2" border="0">
                  </a>
                  <br>Online
                  <br>Joined: Sep 2017
                  <br>Posts: 10
                </div>
              </div>
            </td>
            <td class="forum_row1" style="border-width: 0px 1px 1px 1px;" valign="top">
              <div class="clearfix word-break">
                <div id="message1" class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

