{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">

<h3>Recommended Diet</h3>

  <table class="table table-hover">
  <thead>
    <tr>
		<th>What to Eat</th>
		<th>1st Day</th>
		<th>2nd Day</th>
		<th>3rd Day</th>
	</tr>
  </thead>
  <tbody>
	<tr>
		<td>Breadfast</td>
		<td><img src="../static/images/The-Truth-About-Bread.jpg"><a href ="bread.html"></a></td>
		<td><img src="../static/images/iStock_000023337267_Medium-min.jpg"><a href="porridge.html"></a></td>
		<td><img src="../static/images/1436731675OAT.jpg"><a href="oats.html"></a></td>
        <td></td>
	</tr>
	<tr>
		<td>Lunch</td>
		<td><img src="../static/images/asian-style-chopped-salad-83466-1.jpeg"><a href ="salad.html"></a></td>
		<td><img src="../static/images/Fruit%20Juice.jpg"><a href ="juices.html"></a></td>
		<td><img src="../static/images/ban-mian-weekender.jpg"><a href ="kway_teow_soup.html"></a></td>
	</tr>
    <tr>
    <td>Diner</td>
		<td><img src="../static/images/FishSoup.jpg"><a href ="fishsoup.html">Fish Soup</a></td>
		<td><img src="../static/images/HerbalSoup.jpg"><a href ="herbalsoup.html">Herbal Soup</a></td>
		<td><img src="../static/images/SeafoodSoup.jpg"><a href ="seafoodsoup.html"></a>Seafood Soup</td>
    </tr>

</table>
    </div>
{% endblock %}