{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">

<h3>Recommended Diet</h3>

  <table class="table table-hover">
  <thead>
    <tr>
		<th>What to Eat</th>
		<th>1st Day</th>
		<th>2nd Day</th>
		<th>3rd Day</th>
	</tr>
  </thead>
  <tbody>
	<tr>
		<td>Breadfast</td>
		<td><a href ="bread.html" target="_blank"><img src="../static/images/The-Truth-About-Bread.jpg" width = "200px" height="200px"></a></td>
		<td><a href="porridge.html" target="_blank"><img src="../static/images/iStock_000023337267_Medium-min.jpg"width = "200px" height="200px"></a></td>
		<td><a href="oats.html" target="_blank"><img src="../static/images/1436731675OAT.jpg" width = "200px" height="200px"></a></td>
        <td></td>
	</tr>
	<tr>
		<td>Lunch</td>
		<td><a href ="salad.html" target="_blank"><img src="../static/images/asian-style-chopped-salad-83466-1.jpeg" width = "200px" height="200px"></a></td>
		<td><a href ="juices.html" target="_blank"><img src="../static/images/Fruit%20Juice.jpg" width = "200px" height="200px"></a></td>
		<td><a href ="kway_teow_soup.html" target="_blank"><img src="../static/images/ban-mian-weekender.jpg" width = "200px" height="200px"></a></td>
	</tr>
    <tr>
    <td>Diner</td>
		<td><a href ="fishsoup.html" target="_blank"><img src="../static/images/FishSoup.jpg" width = "200px" height="200px"></a></td>
		<td><a href ="herbalsoup.html" target="_blank"><img src="../static/images/HerbalSoup.jpg"width = "200px" height="200px"></a></td>
		<td><a href ="seafoodsoup.html" target="_blank"><img src="../static/images/SeafoodSoup.jpg"width = "200px" height="200px"></a></td>
    </tr>

</table>
    </div>
{% endblock %}