{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <section id="first">
            <div class="title">
                <h1>Welcome to NObesity SG!</h1>
                <br>
                <h3>This is where we tackle obesity!</h3>
            </div>
            <div class="icon-container">
                <img src="../static/images/icon.png">
            </div>
        </section>
    </div>
    <script>
    document.getElementById("toggle").hidden=true
    </script>
{% endblock %}