{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <table class="table table-hover">
  <thead>
    <tr><th>Nutrition Facts of Fruit Juice</th>
	</tr>
  </thead>
  <tbody>
	<tr>
		<td>Amount:</td>
        <td>per 100g</td>
	</tr>
    	<tr>
		<td>Calories:</td>
        <td>54</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>%Daily Value*</td>
	</tr>
    <tr>
    <td>Total Fats:</td>
		<td>0g</td>
		<td>0%</td>
    </tr>
    <tr>
        <td>Cholesterol:</td>
		<td>0g</td>
		<td>0%</td>
    </tr>
    <tr>
        <td>Sodium:</td>
		<td>2mg</td>
		<td>0%</td>
    </tr>
    <tr>
        <td>Potassium:</td>
		<td>42mg</td>
		<td>1%</td>
    </tr>
    <tr>
        <td>Total Carbohydrate:</td>
		<td>13g</td>
		<td>4%</td>
    </tr>
    <tr>
        <td>Dietary Fibre:</td>
		<td>0.2g</td>
		<td>0%</td>
    </tr>
        <tr>
        <td>Sugar:</td>
		<td>9g</td>
		<td></td>
    </tr>
      <tr>
        <td>Protein:</td>
		<td>0.2g</td>
		<td>2%</td>
    </tr>
    <tr>
        <td>Vitamin A:</td>
		<td></td>
		<td>0%</td>
    </tr>
        <tr>
        <td>Calcium:</td>
		<td></td>
		<td>0%</td>
    </tr>
    <tr>
        <td>Vitamin D:</td>
		<td></td>
		<td>0%</td>
    </tr>
       <tr>
        <td>Vitamin B-6:</td>
		<td></td>
		<td>25%</td>
    </tr>
    <tr>
        <td>Vitamin B-12:</td>
		<td></td>
		<td>0%</td>
    </tr>
    <tr>
        <td>Vitamin C:</td>
		<td></td>
		<td>25%</td>
    </tr>
    <tr>
        <td>Iron:</td>
		<td></td>
		<td>0%</td>
    </tr>
       <tr>
        <td>Magnesium:</td>
		<td></td>
		<td>0%</td>
    </tr>
  <h3>
       *Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs
  </h3>
  </tbody>
</table>
    </div>