{% extends 'layout.html' %}
{% set active_page = "quiz" %}
{% block body %}
    <div class="jumbotron text-center">
        <table class="table table-hover">
  <thead>
  <h align="center">Quiz Leaderboard</h>
    <tr>
		<th>Rank:</th>
        <th>Username</th>
        <th>Points:</th>
	</tr>
  </thead>
  <tbody>
    {% if leaderboards_list==[] %}
    <p>Nobody has Done this quiz yet,Hence there is no Score.Be the first to do it!</p>
    {% else %}
    {% endif %}

    {% for eachusername in leaderboards_list%}

        <tr>
            <td>{{eachusername.get_rank()}}</td>
            <td>{{eachusername.get_username()}}</td>
            <td>{{eachusername.get_score()}}</td>

        </tr>

    {% endfor %}

  </tbody>
</table>
    </div>
{% endblock %}