{% extends 'layout.html' %}
{% block body %}
    {% macro render_field(field) %}
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger col-12 m-auto">
                {{ error }}
            </div>
        {% endfor %}
      {% endif %}
    {% endmacro %}
    <div class="account-box">
        <div class="row switch-page">
            <div class="current-box col-6">LOG IN</div>
            <div class="link-box col-6"><a href="/signup">SIGN UP</a></div>
        </div>
        <form method="post" action="" class="main-form" id="login_form">
            <div class="box-header">Log Into Your Account</div>
            <div class="box-text">One account gets you into everything Nobesity</div>
            <div class="form-group account-content">
                <div class="container">
                    <div class="form-row">
                        <div class="form-control alert alert-danger col-12 mt-mb-3" id="error_alert" style="display: none"></div>
                    </div>
                    <div class="form-row">
                        {{ render_field(form.username, class_="form-control mt-3 mb-3", placeholder="Username / Email") }}
                    </div>
                    <div class="form-row">
                        {{ render_field(form.password, class_="form-control mt-3 mb-3", placeholder="Password") }}
                    </div>
                    <div class="form-row">
                        <button id="quickstart-sign-in" type="button" class="form-control submit-btn mt-3 mb-3" value="Login" id="login_button" onclick="replaceEmail()">LOG IN</button>
                    </div>
                    <div class="psw"><a href="/password">Forgot password?</a></div>
                </div>
            </div>
        </form>
	</div>
    <script>
    document.getElementById("toggle").hidden=true;
        /**
         * Handles the sign in button press.
         */
        $(document).ready(function () {
            $("#username, #password").keyup( function(event) {
              if (event.keyCode === 13) {
                document.getElementById("quickstart-sign-in").click();
              }
            });
        });
        function replaceEmail() {
            var usersRef = firebase.database().ref('Users');
            var login_id = document.getElementById('username').value.toLowerCase();
            usersRef.on('value', function (snapshot) {
                snapshot.forEach(function (childSnapshot) {
                    var userName = childSnapshot.key;
                    var db_email = childSnapshot.child('email').val();
                    if (login_id == userName) {
                        document.getElementById('username').value = db_email;
                    }
                    handleLogin()
                })
            });
        }

        function handleLogin() {
            document.getElementById("error_alert").style.display = "none";
            var email = document.getElementById('username').value.toLowerCase();
            var password = document.getElementById('password').value;
            if (email.length < 1) {
                document.getElementById("error_alert").style.display = "block";
                document.getElementById("error_alert").innerText = "Please enter Email.";
                return;
            }
            if (password.length < 1) {
                document.getElementById("error_alert").style.display = "block";
                document.getElementById("error_alert").innerText = "Please enter Password.";
                return;
            }
            // Sign in with email and pass.
            // [START authwithemail]
            firebase.auth().signInWithEmailAndPassword(email, password).then(function() {
                // signup successful.
                loginRedirect()
                }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // [START_EXCLUDE]
                if (errorCode === 'auth/wrong-password') {
                    document.getElementById("error_alert").style.display = "block";
                    document.getElementById("error_alert").innerText = "The password is invalid";
                } else if (errorCode === 'auth/invalid-email'){
                    document.getElementById("error_alert").style.display = "block";
                    document.getElementById("error_alert").style.background = "#03a9f4";
                    document.getElementById("error_alert").innerText = "Login using Username...";
                    setTimeout(function(){
                        document.getElementById("error_alert").style.background = "#F44336";
                        document.getElementById("error_alert").innerText = "Invalid username"; }, 5000);
                } else {
                    document.getElementById("error_alert").style.display = "block";
                    document.getElementById("error_alert").innerText = errorMessage;
                }
                console.log(error);
                // [END_EXCLUDE]
            });
            // [END authwithemail]
        }

        function loginRedirect() {
            firebase.auth().onAuthStateChanged(function (user) {
                if (user) {
                    document.getElementById("login_form").submit()
                }
            })
        }
    </script>
{% endblock %}