{% extends 'layout.html' %}
{% block body %}
    {% macro render_field(field) %}
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger col-12 m-auto">
                {{ error }}
            </div>
        {% endfor %}
      {% endif %}
    {% endmacro %}
    <div class="account-box">
        <div class="row switch-page">
            <div class="current-box col-6">LOG IN</div>
            <div class="link-box col-6"><a href="/signup">SIGN UP</a></div>
        </div>
        <form method="post" action="" class="main-form" >
            <div class="form-group account-content">
                <div class="container">
                    <div class="form-row">
                        {{ render_field(form.username, class_="form-control mt-3 mb-3", placeholder="Username / Email") }}
                    </div>
                    <div class="form-row">
                        {{ render_field(form.password, class_="form-control mt-3 mb-3", placeholder="Password") }}
                    </div>
                    {% if password_check != '' %}
                        <div class="form-row">
                            <div class="alert alert-danger col-12 m-auto">Invalid Password</div>
                        </div>
                    {% endif %}
                    <button id="quickstart-sign-in" type="submit" class="form-control submit-btn" value="Login" id="login_button" onclick="userLogin()">LOG IN</button>
                    <div class="psw"><a href="#">Forgot password?</a></div>
                </div>
            </div>
        </form>
	</div>
    <script>
    /**
     * Handles the sign in button press.
     */
    function userLogin() {
        var email = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        if (email.length < 4) {
          alert('Please enter an email address.');
          return;
        }
        if (password.length < 4) {
          alert('Please enter a password.');
          return;
        }
        // Sign in with email and pass.
        // [START authwithemail]
        firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // [START_EXCLUDE]
          if (errorCode === 'auth/wrong-password') {
            alert('Wrong password.');
          } else {
            alert(errorMessage);
          }
          console.log(error);
          // [END_EXCLUDE]
        });
        // [END authwithemail]
      };
    </script>
{% endblock %}