{% extends 'layout.html' %}
{% block body %}
    <div class="account-box">
        <div class="main-form" >
            <div class="box-header">Forgot password</div>
            <div class="box-text">Please Enter your Account Email</div>
            <div class="form-group account-content">
                <div class="form-group">
                    <input class="form-control" id="email" placeholder="Enter your new Email">
                    <div class="form-control alert alert-danger col-12 mt-3" id="error_alert" style="display: none"></div>
                </div>
                <div class="form-group">
                    <button class="form-control email-verify-btn mb-3" id="reset_password" onclick="sendResetPasswordEmail();resendCount()">
                        Send Password Reset Email
                    </button>
                    <a class="form-control email-verify-btn mb-3" id="reset_status" style="display:none; background: #e9ecef; color:#222222">Resend</a>
                </div>
                <a href="/login" class="form-control submit-btn mt-5">Return to Login</a>
            </div>
		</div>
    </div>
    <script>
    function sendResetPasswordEmail() {
      // [START sendResetPasswordEmail]
        var auth = firebase.auth();
        var emailAddress = document.getElementById('email').value;
        auth.sendPasswordResetEmail(emailAddress).then(function() {
            // [START_EXCLUDE]
            document.getElementById("reset_password").style.display = "none";
            document.getElementById("reset_status").style.display = "block";
          }).catch(function(error) {
              // An error happened.
            document.getElementById("error_alert").style.display = "block";
            document.getElementById("error_alert").innerText = error;
            });
          // [END sendResetPasswordEmail]
    }
    function resendCount() {
        var countdownElement = document.getElementById('reset_status'),
            sendButton = document.getElementById('reset_password'),
            seconds = 30,
            second = 0,
            interval;
        sendButton.style.display = 'none';
        countdownElement.style.display = 'block';
        interval = setInterval(function() {
            countdownElement.firstChild.data = 'Resend in ' + (seconds - second) + 's';
            if (second >= seconds) {
                countdownElement.style.display = 'none';
                sendButton.style.display = 'block';
                clearInterval(interval);
            }
            second++;
        }, 1000);
    }
    </script>
{% endblock %}