{% extends 'layout.html' %}
{% block body %}
    {% macro render_field(field) %}
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger col-12 m-auto">
                {{ error }}
            </div>
        {% endfor %}
      {% endif %}
    {% endmacro %}
    <form method="post" class="mx-auto account-box p-5" id="info_form">
        <div class="form-group form-row account-detail pt-4 pb-4">
        <div class="form-group m-auto">
            <div class="photoPreview">
                <img id="photoPreview" src="../static/images/default_photo.png">
            </div>
            <label class="file-wrapper form-control mt-3 mb-3 submit-btn">
                <input type="file"  id="file" name="files[]" multiple /><span id="uploader"></span>
                Choose Profile Image
            </label>
            <div class="alert alert-danger mt-1 mb-1 col-12" id="imgError" hidden>The File APIs are not fully supported in this browser.</div>
        </div>
      </div>
      <div class="form-group form-row account-detail pt-4 pb-4">
        <div class="col-1"><i class="material-icons">share</i></div>
        <div class="col-4"> Display Name :</div>
          <div class="col-7">
            {{ render_field(name_form.display_name, class_="form-control", placeholder="Display Name", onblur="checkDisplayName()") }}
          </div>
      </div>
            <div class="alert alert-danger col-12 m-auto" id="error_alert" hidden>
                Please Enter your Display Name
            </div>
      <div class="form-group form-row save-cancel-btn">
        <a href="/account/info" class="col-5 btn btn-outline-secondary form-control" id="reset_info">Cancel</a>
        <button class="col-5 ml-auto btn btn-outline-primary form-control" id="update_info" value="update_info" onclick="updateProfile()">Update</button>
      </div>
    </form>
    <script>
        function checkDisplayName(){
            document.getElementById("error_alert").hidden = document.getElementById("display_name").value != "";
            document.getElementById("update_info").disabled = document.getElementById("display_name").value == ""
        }
        var user = firebase.auth().currentUser;
        //Get Elements
        var uploader = document.getElementById('uploader');
        var fileButton = document.getElementById('file');

        $( document ).ready(function() {
            document.getElementById('photoURL').innerText = "{{photoURL|safe}}";
            document.getElementById('fileName').innerText = '{{fileName}}';
            var username = '{{session['username']|safe}}';
            firebase.database().ref('/Users/' + username + '/photoURL').once('value').then(function (snapshot) {
                var photoURL = (snapshot.val());
                if (photoURL != null){
                    document.getElementById('photoPreview').src = photoURL
                }
            });
        });
        if (window.File && window.FileReader && window.FileList && window.Blob) {
        // Great success! All the File APIs are supported.
        } else {
           $('#imgError').hidden = false
        }
        //Upload Profile Picture
        //Altered code from: Firebase Youtube Channel.
        //Listen for file
        fileButton.addEventListener('change', function (e) {
            var fileName = document.getElementById('fileName').innerText;
            var file = e.target.files[0];
            //Create a Storage Ref
            var storageRef = firebase.storage().ref('{{session['username']}}' + '/profilePicture/' + file.name);
            //Upload file
            var task = storageRef.put(file);
            //Update Progress Bar
            if (fileName.innerText != "" || fileName.innerText != "{{fileName}}"){
                firebase.storage().ref('{{session['username']}}' + '/profilePicture/' + fileName).delete();
                task.on('state_changed',
                    function progress(snapshot) {
                        var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        uploader.innerText = (Math.round(percentage)).toString() + ' %';
                    },
                    function error(error) {
                        document.getElementById('imgError').hidden = false;
                        document.getElementById('imgError').innerHTML = error
                    },
                    function complete() {
                        document.getElementById('uploader').innerHTML = "<i class='material-icons'>done</i>";
                        storageRef.getDownloadURL().then(function (url) {
                            document.getElementById('fileName').innerText = file.name;
                            document.getElementById('photoURL').innerText = url;
                            document.getElementById('photoPreview').src = url;
                            document.getElementById('navPhoto').src = url;
                            updateProfile()
                        }).catch(function (error) {
                            document.getElementById('imgError').hidden = false;
                            document.getElementById('imgError').innerHTML = error
                        });
                    }
                );
            } else {
                task.on('state_changed',
                    function progress(snapshot) {
                        var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        uploader.innerText = (Math.round(percentage)).toString() + ' %';
                    },
                    function error(error) {
                        document.getElementById('imgError').hidden = false;
                        document.getElementById('imgError').innerHTML = error
                    },
                    function complete() {
                        document.getElementById('uploader').innerHTML = "<i class='material-icons'>done</i>";
                        storageRef.getDownloadURL().then(function (url) {
                            document.getElementById('fileName').innerText = file.name;
                            document.getElementById('photoURL').innerText = url;
                            document.getElementById('photoPreview').src = url;
                        }).catch(function (error) {
                            document.getElementById('imgError').hidden = false;
                            document.getElementById('imgError').innerHTML = error
                        });
                    }
                );
            }
        });
        function updateProfile() {
            var displayName = document.getElementById('display_name').value;
            var photoURL = document.getElementById('photoURL').innerText;
            var photoName = document.getElementById('fileName').innerText;
            firebase.auth().currentUser.updateProfile({
                displayName : displayName,
                photoURL : photoURL
            });
            var username = "{{session['username']}}";
            firebase.database().ref().child('Users/'+ username + '/').update({
                'displayName' : displayName,
                'photoName' : photoName,
                'photoURL' : photoURL
            })
        }
    </script>
    <script>
    openTool();
    $('#account_nav').attr('class','sub-links selected')
    </script>
{% endblock %}