{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron">
    <div class="row mx-auto mt-3" style=" max-width:1000px">
        <div class="card col-sm-12 col-md-4 border-0 bg-light" >
          <div class="card-body  m-3 border rounded border-light bg-white">
            <h4 class="card-title">Running</h4>
            <h6 class="card-subtitle mb-2 text-muted">Task 1</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <a href="#" class="card-link">Mark Done</a>
            <a href="#" class="card-link">Edit Activity</a>
          </div>
        </div>
        <div class="card col-sm-12 col-md-4 border-0 bg-light" >
          <div class="card-body  m-3 border rounded border-light bg-white">
            <h4 class="card-title">Cycling</h4>
            <h6 class="card-subtitle mb-2 text-muted">Task 2</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <a href="#" class="card-link">Mark Done</a>
            <a href="#" class="card-link">Edit Activity</a>
          </div>
        </div>
        <div class="card col-sm-12 col-md-4 border-0 bg-light" >
          <div class="card-body  m-3 border rounded border-light bg-white">
            <h4 class="card-title">Sleep Well</h4>
            <h6 class="card-subtitle mb-2 text-muted">Task 3</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <a href="#" class="card-link">Mark Done</a>
            <a href="#" class="card-link">Edit Activity</a>
          </div>
        </div>
    </div>
    <div class="row mx-auto  mt-3" style=" max-width:1000px">
        <div class="card col-sm-12 col-md-4 border-0 bg-light" >
          <div class="card-body  m-3 border rounded border-light bg-white">
            <h4 class="card-title">Intense cardio</h4>
            <h6 class="card-subtitle mb-2 text-muted">Task 4</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <a href="#" class="card-link">Mark Done</a>
            <a href="#" class="card-link">Edit Activity</a>
          </div>
        </div>
        <div class="card col-sm-12 col-md-4 border-0 bg-light" >
          <div class="card-body  m-3 border rounded border-light bg-white">
            <h4 class="card-title">8 Glasses of Water</h4>
            <h6 class="card-subtitle mb-2 text-muted">Task 5</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <a href="#" class="card-link">Mark Done</a>
            <a href="#" class="card-link">Edit Activity</a>
          </div>
        </div>
        <div class="card col-sm-12 col-md-4 border-0 bg-light" >
          <div class="card-body  m-3 border rounded border-light bg-white">
            <h4 class="card-title">Healthy Breakfast</h4>
            <h6 class="card-subtitle mb-2 text-muted">Task 6</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <a href="#" class="card-link">Mark Done</a>
            <a href="#" class="card-link">Edit Activity</a>
          </div>
        </div>
    </div>
    </div>
{% endblock %}