{% extends 'layout.html' %}
{% block body %}
	<div class="container text-center profile">
    	<div class="user_profile">
            <h3 id="user_name" class="text-center">User Name</h3>
			<div class="header-desc"><span id="user_account" >@UserAccount</span> • Health Report</div>
            <div id="profile_image">
                <img src="../static/images/451370.jpg" alt="Profile Image">
            </div>
        </div>
        <div class="health_point card">
			<h5>Health Grade</h5>
            <h1 id="health_point">76</h1>
            <ul class="list-inline">
                <li class="list-inline-item class_a">A</li>
                <li class="list-inline-item class_b active">B</li>
                <li class="list-inline-item class_c">C</li>
                <li class="list-inline-item class_d">D</li>
                <li class="list-inline-item class_e">E</li>
            </ul>
        </div>
        <div class="calculator card">
            <div class="card-header">
            	<div class="card-header-text">How is my Body Shape?</div>
            </div>
            <div class="profile card-body">
                <div class="card-body-title">Health Status</div>
                <div class="row statistics">
                    <div class="col-4">
                        <h1 id="weight">60</h1><span class="unit-small">kg</span>
                        <div>Current Weight</div>
                    </div>
                    <div class="col-4">
                        <h1 id="bmi">24</h1><span class="unit-small">kg/m2</span>
                        <div>Body Mass Index (BMI)</div>
                    </div>
                    <div class="col-4">
                        <h1 id="bfp">26</h1><span class="unit-small">%</span>
                        <div>Body Fat Percentage (BFP)</div>
                    </div>
                </div>
                <div class="card-body-desc">
                    <div class="desc-text">
						<div class="lightbulb">
							<i class="material-icons">lightbulb_outline</i>
						</div>
                        <div class="card-body-desc-text">
							Base on your age and gender, your healthy range of<br>
							Weight: <span> 50-70kg </span>,
							BMI: <span> 18.5–24.9 </span>,
							BFP: <span> 19-23% </span>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calories card">
        	<div class="card-header"><div class="card-header-text">How should I eat?</div></div>
            <div class="profile card-body">
                <div class="card-body-title">Recommend Calorie Intake</div>
                <div><h1 id="calories">2000</h1><span class="unit-small">Cal</span></div>
                <div class="card-body-desc">
                    <div class="desc-text">
						<div class="lightbulb">
							<i class="material-icons">lightbulb_outline</i>
						</div>
						<div class="card-body-desc-text">
							You need Calories consumption range: 
							<span>1000-3000</span>daily.<br>
							Try to keep energy balance, calories consume and burn.
						</div>
                	</div>
            	</div>
			</div>
        </div>
        <div class="exercise card">
        	<div class="card-header"><div class="card-header-text">How should I Exercise?</div></div>
            <div class="profile card-body">
                <div class="card-body-title">Target Heart Rate</div>
                <h1 id="heart_rate">120</h1>
                <span class="unit-small">b/min</span>
                <div class="card-body-desc">
                    <div class="desc-text">
						<div class="lightbulb">
							<i class="material-icons">lightbulb_outline</i>
						</div>
						<div class="card-body-desc-text">
							It's important to note target heart rate is just a guide.<br>
							If you want a more definitive range, discussing with an trainer.
						</div>
                    </div>
                </div>
            </div>
        </div>
		<div class="blood_pressure card">
        	<div class="card-header"><div class="card-header-text">How is my blood pressure?</div></div>
            <div class="profile card-body">
                <div class="card-body-title">Blood Pressure</div>
                <div class="row statistics">
                    <div class="col-4">
                        <h1 id="systol">130</h1><span class="unit-small">mmHg</span>
                        <div>Systolic pressure</div>
                    </div>
                    <div class="col-4">
                        <h1 id="diastol">85</h1><span class="unit-small">mmHg</span>
                        <div>Diastolic pressure</div>
                    </div>
                    <div class="col-4">
                        <h1 id="pulse">90</h1><span class="unit-small">b/min</span>
                        <div>Pulse rate</div>
                    </div>
                </div>
                <div class="card-body-desc">
                    <div class="desc-text">
                    	<div class="lightbulb">
                    		<i class="material-icons">lightbulb_outline</i>
                    	</div>
						<div class="card-body-desc-text">
							Blood pressure is important because the higher your BP is,<br>
							the higher your risk of health problems in the future.
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}