{% extends 'layout.html' %}
{% block body %}
<div>
<p class="question">1.What is the bmi that is considered obese?</p>
<ul class="answers">
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">30</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">25</label><br/>
<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">20</label><br/>
<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">27.5</label><br/>
</ul>
<div id="results">
Show me the answers!
</div>
<div id="category1">
</div>
</div>
{% endblock %}