<!DOCTYPE html>
<html lang="en">
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h1 {color:green;}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
</style>

<head>

    <meta charset="UTF-8">
   <title>Quizzes</title>
    <h1  align="center">Obesity Quiz</h1>
</head>
<body>
<p class="question">1.What is the bmi that is considered obese?</p>
<ul class="answers">
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">30</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">25</label><br/>
<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">20</label><br/>
<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">27.5</label><br/>
</ul>


<p class="question">2.What types of food should Obese people eat to ose weight?</p>
<ul class="answers">
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Fried Chicken</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Deserts and ice cream</label><br/>
<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">Bak kwa</label><br/>
<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">Fruits and Vegetables</label><br/>
</ul>

<p class="question">3.Which is the most efficient way of losing weight?</p>
<ul class="answers">
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Skipping meals</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Eating Unhealthily</label><br/>
<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">Eating and exercising well</label><br/>
<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">Eating but not exercisng</label><br/>
</ul>
<button class="button" type="button">Check Answers</button>
<!-- I got these buttons from simplesharebuttons.com -->
<div align="center" id="share-buttons">



    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>


    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>

    <!-- Reddit -->
    <a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

</div>
</body>
</html>