{% extends 'layout.html' %}
{% set active_page = "quiz" %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
<style>
    body{
        font-size: 20px;
        font-family: sans-serif;
        color: #333;
    }

    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .question{
        font-weight: 600;
    }
    .answers {
        margin-bottom: 20px;
    }
    .answers label{
        display: block;
    }
    #submit{
        font-family: sans-serif;
        font-size: 20px;
        background-color: #279;
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    #submit:hover{
        background-color: #38a;
    }
</style>
<h1>Quiz on Important Facts</h1>
<div class="quiz-container">
  <div id="quiz_container"></div>
</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<form method="post">
    <div class="sr-only">
         {{ render_field(new_form.score, class_="form-control") }}
    </div>
<button id="submit" type ="submit" value="submit" class="btn btn-submit">Submit Quiz</button>
</form>
<div id="results"></div>
<script>
(function() {
  function buildQuiz() {
    // we'll need a place to store the HTML output
    const output = [];

    // for each question...
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // we'll want to store the list of answer choices
      const answers = [];

      // and for each available answer...
      for (letter in currentQuestion.answers) {
        // ...add an HTML radio button
        answers.push(
          `<label>
            <input type="radio" name="question${questionNumber}" value="${letter}">
            ${letter} :
            ${currentQuestion.answers[letter]}
          </label>`
        );
      }

      // add this question and its answers to the output
      output.push(
        `<div class="question"> ${currentQuestion.question} </div>
        <div class="answers"> ${answers.join("")} </div>`
      );
    });

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join("");
  }

  function showResults() {
    // gather answer containers from our quiz
    const answerContainers = quizContainer.querySelectorAll(".answers");

    // keep track of user's answers
    let numCorrect = 0;

    // for each question...
    myQuestions.forEach((currentQuestion, questionNumber) => {
      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if (userAnswer === currentQuestion.correctAnswer) {
        // add to the number of correct answers
        numCorrect++;

        // color the answers green
        answerContainers[questionNumber].style.color = "lightgreen";
      } else {
        // if answer is wrong or blank
        // color the answers red
        answerContainers[questionNumber].style.color = "red";
      }
    });

    // show number of correct answers out of total
    resultsContainer.innerHTML = `${numCorrect}`;
  }

  const quizContainer = document.getElementById("quiz_container");
  const resultsContainer = document.getElementById("results");
  const submitButton = document.getElementById("submit");
  const myQuestions = [
    {
      question: "1.What is the bmi that is considered obese?",
      answers: {
        a: "25",
        b: "20",
        c: "30",
		d: "27.5",
      },
      correctAnswer: "c"
    },
    {
      question: "2.What types of food should Obese people eat to reduce weight gain?",
      answers: {
        a: "Burgers",
        b: "Deserts and ice cream",
        c: "Fruits & Vegetables",
		d: "Fried Chicken",
      },
      correctAnswer: "c"
    },
    {
      question: "3.Which is the most efficient way of losing weight?",
      answers: {
        a: "Eating but not exercisng",
        b: "Eating Unhealthily",
        c: "Skipping meals",
        d: "Eating and exercising well"
      },
      correctAnswer: "d"
    }
  ];

  // display quiz right away
  buildQuiz();

  // on submit, show results
  submitButton.addEventListener("click", showResults);
})();
$(document).ready(function () {
    $('#submit').click(function(){
       $("#score").val($('#results')[0].innerText);
    })
});

</script>

<!-- I got these buttons from simplesharebuttons.com -->
<div align="center" id="share-buttons">



    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>


    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>

    <!-- Reddit -->
    <a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

</div>
{% endblock %}