{% extends 'layout.html' %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script>
// When the user clicks on <div>, open the popup
function myFunction() {
alert("Congratz!You have successfully redeemed this item:)")
}
function myFunction4(){
    alert("Sorry.You do not have enough health points to redeem this item :(")
}
</script>
        <style>

            .text{color:green}
            .rewards{border: 2px solid blue  }
            .img{text-align: center}
            .text{text-align: center}
            .popup{    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;} /* green*/</style>
    <div class="jumbotron text-center">
    <title>Rewards</title>
    <h1 align="center">Rewards</h1>
    <section class="container">

        <div class="row">
            <div style="padding-botttom:30px;" overflow: scroll; class="rewards col-sm-4">
                <p class ="img"><img align="left" src="https://images-na.ssl-images-amazon.com/images/I/51eoH2uBrDL._UX385_.jpg" style="width:304px;height:228px;"></p>
                <p class="text">Health points needed:500</p>
                <button class="popup" onclick="myFunction()">Redeem</button>

            </div>
            <div style="padding-botttom:30px;" class="rewards  col-sm-4">
                <p class="img"><img src= "http://www.gocontigo.com/media/catalog/product/cache/19/image/425x/040ec09b1e35df139433887a97daa66f/m/o/monaco_cortland_back_2.jpg" style="width:304px;height:228px;"></p>
                <p class="text" align="center">Health points needed:1500</p>
                <button class="popup" onclick="myFunction()">Redeem</button>
            </div>
            <div style="padding-botttom:30px;" class="rewards  col-sm-4">
                <p class="img"><img src="https://www.runnersworld.com/sites/runnersworld.com/files/styles/listicle_slide_custom_user_phone_1x/public/0117_fea_treadmills_landice_025_2.jpg?itok=YlQeqUGs" style="width:304px;height:228px;"></p>
                <p class="text" align="center">Health points needed:10,000</p>
                <button class="popup" onclick="myFunction4()">Redeem</button>
            </div>
        </div>
        <div class="row">
            <div style="padding-bottom:30px;"class="rewards  col-sm-4">
                <p class="img"><img src="http://cdn6.bigcommerce.com/s-2sxhiat0li/products/182/images/588/GL7X_AD__99451.1461966775.500.750.jpg?c=2" style="width:304px;height:228px;"></p>
                <p class="text" align="left">Health points needed:2500</p>
                <button class="popup" onclick="myFunction()">Redeem</button>
            </div>
            <div style="padding-bottom:30px;" class="rewards  col-sm-4">
                <p class="img"><img src="https://www.runnersworld.com/sites/runnersworld.com/files/styles/listicle_slide_custom_user_phone_1x/public/reebok_harmony_w_400.jpg?itok=U3lsw4qz" style="width:304px;height:228px;"></p>
                <p class="text" align="center">Health points needed:4000</p>
                <button class="popup" onclick="myFunction()">Redeem</button>
            </div>
            <div style="padding-bottom:30px;" class="rewards  col-sm-4">
                <p class="img"><img src="http://wigglybridgedistillery.com/wp-content/uploads/2016/07/nike-dri-fit-featherlight-cap-mens-600x600.jpeg" style="width:304px;height:228px;"></p>
                <p class="text" align="right">Health points needed:4000</p>
                <button class="popup" onclick="myFunction()">Redeem</button>
            </div>
        </div>
    </section>
</div>

{%endblock%}
