{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <table class="table table-hover">
  <thead>
    <tr>
		<th>Nutrition Facts of Porridge</th>
	</tr>
  </thead>
  <tbody>
	<tr>
		<td>Amount:</td>
        <td>per 100g</td>
	</tr>
    	<tr>
		<td>Calories:</td>
        <td>152</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>%Daily Value*</td>
	</tr>
    <tr>
    <td>Total Fats:</td>
		<td>10g</td>
		<td>15%</td>
    </tr>
    <tr>
        <td>Cholesterol:</td>
		<td>4g</td>
		<td>1%</td>
    </tr>
    <tr>
        <td>Sodium:</td>
		<td>203mg</td>
		<td>8%</td>
    </tr>
    <tr>
        <td>Potassium:</td>
		<td>129mg</td>
		<td>3%</td>
    </tr>
    <tr>
        <td>Total Carbohydrate:</td>
		<td>15g</td>
		<td>5%</td>
    </tr>
    <tr>
        <td>Dietary Fibre:</td>
		<td>1.9g</td>
		<td>7%</td>
    </tr>
        <tr>
        <td>Sugar:</td>
		<td>12g</td>
		<td></td>
    </tr>
      <tr>
        <td>Protein:</td>
		<td>1g</td>
		<td>2%</td>
    </tr>
    <tr>
        <td>Vitamin A:</td>
		<td></td>
		<td>1%</td>
    </tr>
        <tr>
        <td>Calcium:</td>
		<td></td>
		<td>3%</td>
    </tr>
    <tr>
        <td>Vitamin B-6:</td>
		<td></td>
		<td>5%</td>
    </tr>
    <tr>
        <td>Vitamin B-12:</td>
		<td></td>
		<td>0%</td>
    </tr>
    <tr>
        <td>Vitamin C:</td>
		<td></td>
		<td>24%</td>
    </tr>
    <tr>
        <td>Iron:</td>
		<td></td>
		<td>1%</td>
    </tr>
       <tr>
        <td>Magnesium:</td>
		<td></td>
		<td>2%</td>
    </tr>
  <h6>
       *Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs
  </h6>
  </tbody>
</table>
    </div>