{% extends 'layout.html' %}
{% block body %}
    <form method="post" class="mx-auto account-box p-5">
      <div class="form-group form-row account-detail pt-4 pb-4">
        <div class="col-1"><i class="material-icons">account_box</i></div>
        <div class="col-4"> Username :</div>
          <div class="col-7 pt-2">
              han
          </div>
      </div>
      <div class="form-group form-row account-detail pt-4 pb-4 email-wrapper">
        <div class="col-1"><i class="material-icons">email</i></div>
        <div class="col-4"> Email :</div>
        <div class="col-5">
            <div class="mt-2 text-left" id="email_display">email</div>
            <input class="form-control" id="new_email" style="display: none">
        </div>
        <div class="col-1"><i class="material-icons email-verified" id="verified">verified_user</i></div>
        <div class="col-1">
            <i class="material-icons" id="editEmail" onclick="editEmail()">mode_edit</i>
            <a id="toVerify" style="display: none" onclick="toVerify()"><i class="material-icons">done</i></a>
        </div>
          <div class="form-control alert alert-danger col-12 mt-3 mb-0" id="error_alert" style="display: none"></div>
      </div>
      <div class="form-group form-row account-detail pt-4 pb-4">
        <div class="col-1"><i class="material-icons">vpn_key</i></div>
        <div class="col-4"> Password :</div>
          <div class="col-7">
            <a class="form-control email-verify-btn" id="reset_password" onclick="sendResetPasswordEmail();resendCount()">Reset Password by Email</a>
            <a class="form-control email-verify-btn" id="reset_status" style="display:none; background: #e9ecef; color:#222222">Resend</a>
          </div>
      </div>
      <div class="form-group form-row account-detail pt-4 pb-4">
          <a id="deleteAccount" href="/delete"><i class="material-icons">delete_forever</i>Delete Account</a>
      </div>
    </form>
    <script>
     firebase.auth().onAuthStateChanged(function(user) {
        document.getElementById("email_display").innerText = firebase.auth().currentUser.email;
        if (firebase.auth().currentUser.emailVerified == false) {
            document.getElementById("verified").style.color = '#424242';
        } else {
            document.getElementById("verified").style.color = '#64DD17';
        }
     });
    function editEmail() {
        document.getElementById('editEmail').style.display = 'none';
        document.getElementById('toVerify').style.display='block';
        document.getElementById('email_display').style.display='none';
        document.getElementById('new_email').style.display='block';
        document.getElementById("verified").style.color = '#424242';
    }
    function toVerify() {
        var user = firebase.auth().currentUser;
        var email = document.getElementById("new_email").value;
        user.updateEmail(email).then(function() {
          // Update successful.
            window.location.href="/setup/email";
        }).catch(function(error) {
            if(error.code == "auth/requires-recent-login"){
                document.getElementById('error_alert').style.display="block";
                document.getElementById('error_alert').innerHTML = '<div>'+error+'<div>'+'<a class="re-login" href="/login" style="color:white;font-weight:500">> Re Login Here</a>'
            } else{
                // An error happened.
                document.getElementById('error_alert').style.display="block";
                document.getElementById('error_alert').innerText = error
            }
        });
    }
    function sendResetPasswordEmail() {
      // [START sendResetPasswordEmail]
        var auth = firebase.auth();
        var emailAddress = firebase.auth().currentUser.email;
        auth.sendPasswordResetEmail(emailAddress).then(function() {
            // [START_EXCLUDE]
            document.getElementById("reset_password").style.display = "none";
            document.getElementById("reset_status").style.display = "block";
          });
          // [END sendResetPasswordEmail]
    }
    function resendCount() {
        var countdownElement = document.getElementById('reset_status'),
            sendButton = document.getElementById('reset_password'),
            seconds = 30,
            second = 0,
            interval;
        sendButton.style.display = 'none';
        countdownElement.style.display = 'block';
        interval = setInterval(function() {
            countdownElement.firstChild.data = 'Resend in ' + (seconds - second) + 's';
            if (second >= seconds) {
                countdownElement.style.display = 'none';
                sendButton.style.display = 'block';
                clearInterval(interval);
            }
            second++;
        }, 1000);
    }
    </script>
    <script>
    openTool();
    $('#account_nav').attr('class','sub-links selected')
    </script>
{% endblock %}