{% extends 'layout.html' %}
{% block body %}
<div style="height:100%" class="jumbotron">
    <form action="" class="" >
    <div class="form-group col-lg-3 mx-auto">
      <div class="container">
          <div> <span>Sign up</span><small class="float-right"><span>or <a href="/login">Log in</a></span></small></div>
        <input type="text" class="form-control mt-3" placeholder="username" name="uname" required>
        <input type="email" class="form-control mt-3" placeholder="email" name="email" required>
        <input type="password" class="form-control mt-3" placeholder="password" name="psw" required>
        <a href="/accountinfo" class="form-control btn btn-secondary mt-3">Sign Up</a>
      </div>
    </div>
    </form>
</div>
{% endblock %}