{% extends 'layout.html' %}
{% block body %}
<div class="account-box">
    <form action="" class="main-form" >
        <div class="row switch-page">
            <div class="link-box col-6"><a href="/login">Log in</a></div>
            <div class="current-box col-6">Sign up</div>
        </div>
		<div class="form-group account-content">
		<form action="" class="" >
            <div class="form-group">
                <div class="container">
                    <input type="text" class="form-control mt-3" placeholder="username" name="uname" required>
                    <input type="email" class="form-control mt-3" placeholder="email" name="email" required>
                    <input type="password" class="form-control mt-3" placeholder="password" name="psw" required>
                    <button class="form-control submit-btn">Sign Up</button>
                </div>
            </div>
		</form>
		</div>
	</form>
</div>
{% endblock %}