{% extends 'layout.html' %}
{% block body %}
    {% macro render_field(field) %}
      {{ field(**kwargs)|safe }}
      {% if field.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger col-12 m-auto">
                {{ error }}
            </div>
        {% endfor %}
      {% endif %}
    {% endmacro %}
    <div class="account-box">
        <div class="row switch-page">
            <div class="link-box col-6"><a href="/login">LOG IN</a></div>
            <div class="current-box col-6">SIGN UP</div>
        </div>
        <form method="post" action="" class="main-form" >
            <div class="form-group account-content">
            <form action="" class="" >
                <div class="form-group">
                    <div class="container">
                        <div class="form-row">
                            {{ render_field(form.username, class_="form-control mt-3 mb-3", placeholder="Username") }}
                        </div>
                        <div class="form-row">
                            {{ render_field(form.email, class_="form-control mt-3 mb-3", placeholder="Email") }}
                        </div>
                        <div class="form-row">
                            {{ render_field(form.password, class_="form-control mt-3 mb-3", placeholder="Password") }}
                        </div>
                        <div class="form-row">
                            {{ render_field(form.confirm, class_="form-control mt-3 mb-3", placeholder="Confirm Passord") }}
                        </div>
                        <div class="alert alert-danger col-12 m-auto" style="display:none" id="error_alert">
                            Password Not Match
                        </div>
                         <button id="quickstart-sign-in" type="submit" class="form-control submit-btn" value="Register" onclick="handleSignUp()">SIGN UP</button>
                    </div>
                </div>
            </form>
            </div>
        </form>
    </div>
    <script>
    $(document).ready(function () {
        $("#password, #confirm").keyup(checkPasswordMatch);
    });
    function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#confirm").val();

        if (password != confirmPassword) {
            $("#error_alert").css('display', 'block');
            $("#quickstart-sign-in").attr("disabled", "disabled");
            $("#error_alert").html("Passwords must match");
        } else{
            $("#quickstart-sign-in").removeAttr("disabled");
            $("#error_alert").css('display', 'none');
        }
    }
    /**
     * Handles the sign up button press.
     */
    function handleSignUp() {
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value;
      // Sign in with email and pass.
      // [START createwithemail]
      firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // [START_EXCLUDE]
        if (errorCode == 'auth/weak-password') {
        } else {
        }
        console.log(error);
        // [END_EXCLUDE]
      });
      // [END createwithemail]
    }
    </script>
{% endblock %}