{% extends 'layout.html' %}
{% set active_page = "activity" %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
<div>
    <div class="jumbotron text-center">
    <div class="record-wrapper">
            <section id="top-container">
                <div class="title">
                    <h1>NObesity SG</h1>
                    <br>
                    <h4>Track and Record your activities!</h4>
                </div>
                <div class="image-container">
                    <img src="../static/images/group_exercise.jpg">
                </div>
            </section>
            <section id="addition" class="form-group text-center">
                <button class="btn btn-submit btn-lg" id="activityButton">
                    <a href="/input_activity">Add An Activity</a>
                </button>
                <!--<button class="btn btn-primary btn-lg" id="activityButton" data-toggle="modal" data-target="#addModal">Add activity</button>-->
                <!--<button class="btn btn-primary btn-lg" id="weightButton" data-toggle="modal" data-target="#logModal">Log your weight</button>-->
            </section>
            <section id="calendar-container"></section>
            <section id="overview">
                <div id="top" class="date">
                    <span>Today, </span>
                    <span>8 December 2017</span>
                </div>
                <div id="bottom" class="overview">
                    <ul><li>
                        <div class="info">
                            <span>30</span>
                            <span>min</span>
                        </div>
                    </li></ul>
                    <ul><li>
                        <div class="info">
                            <span>5</span>
                            <span>km</span>
                        </div>
                    </li></ul>
                    <ul><li>
                        <div class="info">
                            <span>500</span>
                            <span>calories</span>
                        </div>
                    </li></ul>
                    <ul><li>
                        <div class="info">
                            <span>6000</span>
                            <span>steps</span>
                        </div>
                    </li></ul>
                </div>
            </section>
            <section id="activities">
                <div id="top">
                    <span>Recent activities</span>
                </div>
                <div id="bottom" class="overview">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name Of Activity</th>
                            <th>Date Of Activity</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for eachact in activity %}
                            <tr>

                                <td>{{eachact.get_activity()}}</td>
                                <td>{{eachact.get_date()}}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <!--BOTTOM SECTION showing the user's weight over a period of time can be shown using a line graph-->
            <!--<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="ModalLabel">Add activity</h5>
					</div>
					<div class="modal-body">

					</div>
					<div class="modal-footer">

					</div>
					</div>
                </div>
            </div>-->
    </div>
    </div>
</div>

{% endblock %}