{% extends 'layout.html' %}
{% block body %}
    <div class="account-box">
        <form method="post" action="" class="main-form" >
            <div class="box-header">Hello {{ session['username'] }}</div>
            <div class="box-text">Please Verify your Email First</div>
                <div class="form-group account-content">
                    <div class="form-group">
                        <div class="form-control" id="email_display">
                            Email
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="form-control email-verify-btn mb-3" id="verify_email" onclick="sendEmailVerification();resendCount()">
                            Send Email Verification
                        </a>
                        <a class="form-control email-verify-btn mb-3" id="verify_status" style="display:none; background: #e9ecef; color:#222222">Resend</a>
                    </div>
                <button type="submit" id="email_confirm" class="form-control submit-btn mt-5" disabled>Next</button>
                </div>
		</form>
    </div>
    <script>
    /**
     * Sends an email verification to the user.
     */
    function sendEmailVerification() {
      // [START sendemailverification]
      firebase.auth().currentUser.sendEmailVerification().then(function() {
        // Email Verification sent!
        // [START_EXCLUDE]
        document.getElementById("verify_email").style.display = "none";
        document.getElementById("verify_status").style.display = "block";
      });
      // [END sendemailverification]
    }

    function resendCount() {
        var countdownElement = document.getElementById('verify_status'),
            sendButton = document.getElementById('verify_email'),
            seconds = 30,
            second = 0,
            interval;
        sendButton.style.display = 'none';
        countdownElement.style.display = 'block';
        interval = setInterval(function() {
            countdownElement.firstChild.data = 'Resend in ' + (seconds - second) + 's';
            if (second >= seconds) {
                countdownElement.style.display = 'none';
                sendButton.style.display = 'block';
                clearInterval(interval);
            }
            second++;
        }, 1000);
    }

    firebase.auth().onAuthStateChanged(function(user) {
        if (firebase.auth().currentUser.emailVerified == false){
            document.getElementById("email_display").innerText = firebase.auth().currentUser.email;
            document.getElementById("email_confirm").disabled = true;
        } else{
            document.getElementById("email_display").innerText = firebase.auth().currentUser.email;
            document.getElementById("verify_email").style.display = "none";
            document.getElementById("verify_status").style.display = "block";
            document.getElementById("email_display").style.color = "#64DD17";
            document.getElementById("verify_status").style.background = "#64DD17";
            document.getElementById("verify_status").style.color = "white";
            document.getElementById("verify_status").innerText = "Verification Complete";
            document.getElementById("email_confirm").disabled = false
        }
    });
    </script>
{% endblock %}