{% extends 'layout.html' %}
{% set active_page = "weight" %}
{% block body %}
    <script>
        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'fas fa-clock',
                date: 'fas fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'fas fa-calendar-check-o',
                clear: 'fas fa-trash',
                close: 'fas fa-times'
            } });
    </script>
    <div class="modal fade" id="bpModal" tabindex="-1" role="dialog" aria-labelledby="EditBPModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content account-box">
          <div class="modal-header">
            <h5 class="modal-title" id="EditBPModalLabel">Track Body Weight</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="container">
                    <div class="row">
                        <div class="col-5 pt-2 text-right" >
                            Date Time
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                    <input type="text"  id="weight_date" class="form-control datetimepicker-input" data-target="#datetimepicker4" onblur="checkDatetime(this)"/>
                                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">date_range</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            try {
                                $(function () {
                                    $('#datetimepicker4').datetimepicker({
                                        format: 'YYYY-MM-DD',
                                        maxDate: moment()
                                    });
                                })
                            }catch (error){}
                            function checkDatetime(e) {
                                if (e.value == ''){
                                    e.value=moment().format('YYYY-MM-DD')
                                }
                            }
                        </script>
                    </div>
                </div>
                    <div class="row mt-3 mb-3">
                        <div class="col-5 pt-2 text-right">
                            Weight
                        </div>
                        <div class="col-5">
                            <input type="number" step='0.1' id="input_weight" class="form-control" placeholder="Weight">
                        </div>
                        <div class="col-2 pt-2">
                            kg
                        </div>
                    </div>
                    <div class="alert alert-danger mt-2 mb-2 col-12" id="weightError" hidden></div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light btn-lg" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary submit-btn btn-lg" onclick="validWeight(this)">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-modal-sm" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm ">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  Are you sure you want to permanently delete this record ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light btn-lg" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-danger btn-lg" onclick="delete_bp()">Confirm</button>
              </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="bp-card-header">
            <div class="row" id="bp_control_view">
                <div class="col-1 submit-btn active" id="bp_all" onclick="bp_all()">All</div>
                <div class="col-1 submit-btn" id="bp_week" onclick="bp_week()">Week</div>
                <div class="col-1 submit-btn" id="bp_month" onclick="bp_month()">Month</div>
                <div class="col-7"></div>
                <div class="col-2 submit-btn" onClick="printDiv()"><i class="material-icons">print</i>Print Data</div>
            </div>
        </div>
        <div id="chart_control">
            <div class="row">
                <a class="col-3" id="control_left" style="opacity: 0" onclick=""><i class="material-icons">keyboard_arrow_left</i></a>
                <div class="col-6 pt-2"><span id="chart_time">Weight Record</span></div>
                <a class="col-3" id="control_right" style="opacity: 0" onclick=""><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
        </div>
        <div id="bp_chart">
            <canvas id="bpChart"></canvas>
            <script>
                var year = moment().year();
                var month = moment().month();
                var date = moment().date();
                var week = moment().week();
                    var bpChart = new Chart(document.getElementById("bpChart"), {
                        "type": "line",
                            "data": {
                                "labels":
                                    [{% for i in weight_date_list %}
                                        moment('{{ i }}', "YYYY-MM-DD"),
                                    {% endfor %}],
                                "datasets":
                                    [{
                                        "label": "Weight",
                                        "data":{{ weight_list|safe }},
                                        "fill": true,
                                        "borderColor": "#03A9F4",
                                        "lineTension": 0
                                    }]

                            },
                            "options": {
                                scales: {
                                    xAxes: [{
                                        type: 'time',
                                        distribution: 'linear',
                                        time: {
                                            unit: 'day',
                                            displayFormats: {
                                                day: 'MMM DD'
                                            },
                                            min: '',
                                            max: ''
                                        }
                                    }]
                                },
                                annotation: {
                                    annotations: [{
                                        type: 'line',
                                        mode: 'horizontal',
                                        scaleID: 'y-axis-0',
                                        value: {{user.get_suggest_weight_max()}},
                                        borderColor: '#8BC34A',
                                        borderWidth: 1,
                                        borderDash: [10,10],
                                        label: {
                                            enabled: false,
                                            content: 'Suggest Weight'
                                        }
                                    }]
                                }
                            }
                        });
                var dayCount = 1;
                var monthCount = 1;
                function bp_week(){
                    dayCount = 0;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('week');
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('week');
                    bpChart.options.scales.xAxes[0].time.unit='day';
                    bpChart.options.scales.xAxes[0].time.displayFormats={day: 'MMM DD'};
                    bpChart.update();
                    document.getElementById('chart_time').innerText = moment().startOf('week').day(dayCount).format('MMM DD')+' - '+moment().endOf('week').day(dayCount).day(6).format('MMM DD');
                    document.getElementById('control_left').style.opacity = '100';
                    document.getElementById('control_right').style.opacity = '100';
                    document.getElementById('control_left').setAttribute('onclick','weekMinus()');
                    document.getElementById('control_right').setAttribute('onclick','weekPlus()');
                    document.getElementById('bp_week').className='col-1 submit-btn active';
                    document.getElementById('bp_month').className='col-1 submit-btn';
                    document.getElementById('bp_all').className='col-1 submit-btn';
                }
                function bp_month(){
                    monthCount = 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('month');
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('month');
                    bpChart.options.scales.xAxes[0].time.unit='day';
                    bpChart.options.scales.xAxes[0].time.displayFormats={day: 'MMM DD'};
                    bpChart.update();
                    document.getElementById('chart_time').innerText = moment().format('MMMM');
                    document.getElementById('control_left').style.opacity = '100';
                    document.getElementById('control_right').style.opacity = '100';
                    document.getElementById('control_left').setAttribute('onclick','monthMinus()');
                    document.getElementById('control_right').setAttribute('onclick','monthPlus()');
                    document.getElementById('bp_week').className='col-1 submit-btn';
                    document.getElementById('bp_month').className='col-1 submit-btn active';
                    document.getElementById('bp_all').className='col-1 submit-btn';
                }
                function bp_all(){
                    bpChart.options.scales.xAxes[0].time.min = '';
                    bpChart.options.scales.xAxes[0].time.max = '';
                    bpChart.options.scales.xAxes[0].time.unit='day';
                    bpChart.options.scales.xAxes[0].time.displayFormats={day: 'MMM DD'};
                    bpChart.update();
                    document.getElementById('chart_time').innerText = 'Blood Pressure Record';
                    document.getElementById('control_left').style.opacity = '0';
                    document.getElementById('control_right').style.opacity = '0';
                    document.getElementById('control_left').setAttribute('onclick','');
                    document.getElementById('control_right').setAttribute('onclick','');
                    document.getElementById('bp_week').className='col-1 submit-btn';
                    document.getElementById('bp_month').className='col-1 submit-btn';
                    document.getElementById('bp_all').className='col-1 submit-btn active';
                }
                function weekMinus() {
                    dayCount -= 7;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('week').day(dayCount);
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('week').day(dayCount).day(6);
                    document.getElementById('chart_time').innerText = moment().startOf('week').day(dayCount).format('MMM DD')+' - '+moment().endOf('week').day(dayCount).day(6).format('MMM DD');
                    bpChart.update();
                }
                function weekPlus() {
                    dayCount += 7;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('week').day(dayCount);
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('week').day(dayCount).day(6);
                    document.getElementById('chart_time').innerText = moment().startOf('week').day(dayCount).format('MMM DD')+' - '+moment().endOf('week').day(dayCount).day(6).format('MMM DD');
                    bpChart.update();
                }
                function monthMinus() {
                    monthCount -= 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('month').month(monthCount);
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('month').month(monthCount);
                    document.getElementById('chart_time').innerText = moment().startOf('month').month(monthCount).format('MMMM');
                    bpChart.update();
                }
                function monthPlus() {
                    monthCount += 1;
                    bpChart.options.scales.xAxes[0].time.min = moment().startOf('month').month(monthCount);
                    bpChart.options.scales.xAxes[0].time.max = moment().endOf('month').month(monthCount);
                    document.getElementById('chart_time').innerText = moment().startOf('month').month(monthCount).format('MMMM');
                    bpChart.update();
                }
            </script>
        </div>
        <div class="bp-status">
            <a id="float_add_bp" data-toggle="modal" data-target="#bpModal"><i class="material-icons" onclick="resetWeight()">add</i></a>
            <div class = 'bp-main-title'>Weight Status</div>
            <div class="card-body p-4">
                <div class="bp-container">
                    <div class="row">
                        <div class="col-3">
                            <div>Current Weight</div>
                        </div>
                        <div class="col-3">
                            <div>Height</div>
                        </div>
                        <div class="col-3">
                            <div>BMI</div>
                        </div>
                        <div class="col-3">
                            <div>Compare with Initial</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h1>{{ user.get_current_weight() }}</h1>
                        </div>
                        <div class="col-3">
                            <h1>{{ user.get_height()*100 }}</h1>
                        </div>
                        <div class="col-3">
                            <h1>{{ user.get_bmi() }}</h1>
                        </div>
                        <div class="col-3">
                            <h1>{{ total_indicator|safe }}{{ total_weight_difference|safe }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <small>kg</small>
                        </div>
                        <div class="col-3">
                            <small>cm</small>
                        </div>
                        <div class="col-3">
                            <small>kg/m2</small>
                        </div>
                        <div class="col-3">
                            <small>kg</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blood_pressure card" id="weight_data">
        <div class="card-header  text-center">
            <div class="card-header-text">Weight Data</div>
        </div>
            {% for i in range(0, weight_list_len) %}
            <div id="weight_oneDay">
                <div class="card-body" id="bp_container" onmouseover="showWeightEdit(this)" onmouseleave="hideWeightEdit(this)">
                    <div class="bp-container">
                        <div class="row">
                            <div class="col-2 p-4 text-right">
                                <button style="background: white;border:none;border-radius: 10%;width: 50px;height: 50px;padding: 0" value="{{weight_date_list[i]}}" data-toggle="modal" data-target="#bpModal" >
                                    <img src="../static/images/weight.svg" height="50" width="50" style="border-radius: 10%" onclick="getWeightValue(this)">
                                </button>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-4 pt-4">
                                        <i class="material-icons date-icon">date_range</i><span class="weight_date" id='{{weight_date_list[i]}}'></span>
                                        <script>
                                            document.getElementById('{{weight_date_list[i]}}').innerText = moment('{{weight_date_list[i]}}', 'YYYY-MM-DD').format('MMM DD')
                                        </script>
                                    </div>
                                    <div class="col-4 pt-3">
                                        <h1>{{ weight_list[i] }}</h1>
                                        <span class="weight-unit">kg</span>
                                    </div>
                                    <div class="col-4 pt-3">
                                        <h1>{{ display_weight_difference_list[i]|safe }}</h1>
                                        <span class="weight-unit">kg</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1  bp-edit" id="bpEdit">
                                <div class="row">
                                    <button class="col-6 p-0" data-toggle="modal" data-target="#bpModal" value="{{weight_date_list[i]}}">
                                        <i class="material-icons bp-edit-btn" onclick="getWeightValue(this)">mode_edit</i>
                                    </button>
                                    <button class="col-6 p-0"  data-toggle="modal" data-target=".bd-modal-sm" value="{{weight_date_list[i]}}">
                                        <i class="material-icons bp-delete-btn" onclick="assign_delete(this)">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
	<script>
        function showWeightEdit(e) {
            e.childNodes[1].childNodes[1].childNodes[5].style.opacity="100"
        }
        function hideWeightEdit(e) {
            e.childNodes[1].childNodes[1].childNodes[5].style.opacity="0"
        }
        document.getElementById('weight_date').value = moment().format('YYYY-MM-DD');
        function getWeightValue(i) {
            document.getElementById('weightError').innerText = '';
            var input_ref = i.parentNode.value;
            var weight_date = input_ref;
            document.getElementById('weight_date').value = moment(weight_date,'YYYYMMDD').format('YYYY-MM-DD');
            var weightRef = firebase.database().ref('Weight/'+'{{session['username']}}'+'/'+input_ref);
            weightRef.once('value', function (snapshot) {
                document.getElementById('input_weight').value=parseFloat(snapshot.val());
                document.getElementById('weight_ref').innerText = weight_date
            })
        }
        function handleUpdate(i) {
                document.getElementById('weightError').innerText = '';
                var weight_ref = document.getElementById('weight_ref').innerText;
                var input_weight = parseFloat(document.getElementById('input_weight').value).toFixed(1);
                var input_weight_date = moment(String(document.getElementById('weight_date').value), 'YYYY-MM-DD').format('YYYYMMDD');
                var bp_db_ref = firebase.database().ref().child('Weight/'+'{{session['username']}}'+'/'+weight_ref);
                if (input_weight_date != weight_ref && weight_ref!='') {
                    bp_db_ref.remove();
                }
                document.getElementById('weight_ref').innerText = input_weight_date;
                firebase.database().ref().child('Weight/'+'{{session['username']}}'+'/'+input_weight_date).set(input_weight);
            window.location.href='/weight'
        }
        function validWeight(e) {
            var error = [];
            var errorMsg = '';
            var input_weight_date = moment(String(document.getElementById('weight_date').value), 'YYYY-MM-DD').format('YYYYMMDD');
            document.getElementById('weightError').hidden = true;
            document.getElementById('weightError').innerText = errorMsg;
            var weight_value = document.getElementById('input_weight');
            if (weight_value.value == "") {
                document.getElementById('weightError').hidden = false;
                error.push('Please type in ' + weight_value.placeholder);
                errorMsg = error.join('\n');
                document.getElementById('weightError').innerText = errorMsg;
            } else if (parseInt(weight_value.value) < 0 || parseInt(weight_value.value) > 300) {
                document.getElementById('weightError').hidden = false;
                error.push('Please Enter a Number in ' + weight_value.placeholder + ' (between 0 and 300)');
                errorMsg = error.join('\n');
                document.getElementById('weightError').innerText = errorMsg;
            } else if (document.getElementById('weight_date').value == ""){
                document.getElementById('weightError').hidden = false;
                error.push('Please Enter a Date for your record ');
                errorMsg = error.join('\n');
                document.getElementById('weightError').innerText = errorMsg;
            } else if (input_weight_date.value == 'invalid date') {
                document.getElementById('weightError').hidden = false;
                error.push('Please Enter a Correct Date');
                errorMsg = error.join('\n');
                document.getElementById('weightError').innerText = errorMsg;
            } else if (document.getElementById('weightError').innerText == '') {
                handleUpdate(e)
            }
        }
        function resetWeight() {
            document.getElementById('weight_ref').innerText = '';
            document.getElementById('input_weight').value = '';
        }
        function assign_delete(e) {
             document.getElementById('weight_ref').innerText = e.parentNode.value;
        }
        function delete_bp() {
            var delete_weight_date = document.getElementById('weight_ref').innerText;
            firebase.database().ref().child('Weight/'+'{{session['username']}}'+'/'+delete_weight_date).remove();
            window.location.href='/weight'
        }
        function printDiv() {
            document.body.innerHTML = document.getElementById('weight_data').innerHTML;
            window.print();
            window.location.href = '/weight'
        }
    </script>
{% endblock %}
